/*....Discuss Page ....*/
.o_content {
  .o_mail_discuss {
    .o_mail_discuss_sidebar {
      background-color: var(--background);
      border-right: 1px solid var(--ks-border);
      color: var(--color);
      .o_mail_discuss_item {
        &.o_active {
          box-shadow: inset 3px 0 0 var(--primary);
        }
        &:hover,
        &.o_active {
          background-color: var(--hover-nav-bg);
        }
      }
      .o_mail_discuss_sidebar_channels {
        .o_mail_sidebar_title {
          .o_mail_open_channels,
          h4 {
            color: var(--color);
          }
          span {
            color: var(--color);
          }
        }
        .o_mail_add_thread {
          input {
            color: var(--color);
            &::placeholder{
              color: var(--placeholder-color);
            }
          }
        }
      }
    }

    .o_mail_discuss_content {
      background-color: var(--background);
      border-top: none;
      border-top-right-radius: var(--theme-style-radius);
      border-bottom-right-radius: var(--theme-style-radius);
      .o_thread_date_separator {
         border-bottom-color: var(--ks-border);
        .o_thread_date {
          background-color: var(--background);
        }
      }

      // .o_MessageList {
      //   background-color: transparent;
      // }
      .o_mail_thread {
        .o_mail_thread_content {
          .o_thread_message {
            &.o_mail_not_discussion {
              background-color: var(--table-tr-evenbg);
              border-color: var(--ks-border);
            }
          }
        }
      }
      //Message Box
      .o_thread_composer {
        border-color: var(--ks-border);
        background: var(--table-td-hoverbg);
        .o_composer_container {
          .o_composer {
            background: var(--background);
            border-color: var(--ks-border);
            padding: 10px 10px 1px 10px;
            border-top-left-radius: var(--theme-style-radius-25);
            border-bottom-left-radius: var(--theme-style-radius-25);
            .o_composer_input {
              .o_chatter_composer_tools {
                border-left-color: var(--ks-border);
                .o_composer_button_send {
                  border: none;
                  color: var(--primary);
                }
              }
              textarea{
                &::placeholder{
                  color: var(--placeholder-color);
                }
              }
            }
            .o_mail_emoji_container {
              border: none;
              background-color: var(--background);
            }
          }
        }
        .o_composer_send {
          .o_composer_button_send {
            border-color: var(--primary);
            border-top-right-radius: var(--theme-style-radius-25);
            border-bottom-right-radius: var(--theme-style-radius-25);
          }
        }
      }
    }

    // div.o_Discuss_sidebar {
    //   background-color: var(--background);
    //   border-right: 1px solid var(--ks-border);
    //   // 		border-radius: 20px 0px 0px 20px;
    //   border-top-left-radius: var(--theme-style-radius);
    //   border-bottom-left-radius: var(--theme-style-radius);
    //   @include media-breakpoint-up(lg) {
    //     width: 215px;
    //   }

    //   .o_DiscussSidebar_item,
    //   .o_DiscussSidebar_groupHeader,
    //   .o_DiscussSidebar_list {
    //     color: var(--color);
    //     font-weight: 500;
    //     text-transform: capitalize;
    //     font-size: $font-14;
    //     line-height: 21px;

    //     .o-item-active {
    //       background-color: var(--primary);
    //     }

    //     &:hover {
    //       background-color: var(--ks-main-control-bg);
    //       color: var(--primary);
    //     }
    //   }
    //   .o_DiscussSidebar_item {
    //     min-height: 37px;
    //     width: 100%;
    //     min-width: 100%;
    //     padding: 6px 0 0;
    //     input {
    //       width: 100%;
    //       padding: 0 6px;
    //       color: var(--color);
    //       background-color: transparent;
    //       border: 1px solid var(--drk-border);
    //     }
    //   }
    //   .o-active {
    //     background-color: var(--ks-main-control-bg);
    //     color: var(--primary);
    //   }
    //   hr {
    //     border-top: 1px solid var(--ks-boarder);
    //   }
    // }
    // 	o_Discuss_sidebar / end
    // div.o_mail_discuss_content {
    //   border-top: none;
    //   border-top-right-radius: var(--theme-style-radius);
    //   border-bottom-right-radius: var(--theme-style-radius);
    //   .o_thread_date_separator {
    //     .o_thread_date{
    //       background-color: var(--background);
    //     }
    //   }
    //   // .o_Message {
    //   //   border: 0.5px solid var(--ks-boarder);
    //   //   box-shadow: 0px 4px 10px rgba(62, 62, 63, 0.04);
    //   //   border-radius: var(--theme-style-radius-10);
    //   //   margin: 0px 10px 10px 10px;
    //   // }
    //   // .o-composer-is-compact {
    //   //   &.o-has-current-partner-avatar {
    //   //     border-top-left-radius: var(--theme-style-radius-25);
    //   //     border-bottom-left-radius: var(--theme-style-radius-25);
    //   //   }
    //   //   .o_ComposerTextInput {
    //   //     border: none;

    //   //     textarea {
    //   //       background: none;
    //   //       border: 0.5px solid var(--list-bordercolor);
    //   //       box-sizing: border-box;
    //   //       border-top-left-radius: var(--theme-style-radius-25);
    //   //       border-bottom-left-radius: var(--theme-style-radius-25);
    //   //       min-height: 50px;
    //   //     }
    //   //   }

    //   //   .o_Composer_buttons {
    //   //     min-height: 50px;

    //   //     .o_Composer_toolButtons {
    //   //       background-color: transparent;
    //   //       //background: $gray-200;
    //   //       border: 0.5px solid var(--list-bordercolor);
    //   //       //border-radius: 0px 25px 25px 0px;
    //   //       border-top-right-radius: var(--theme-style-radius-25);
    //   //       border-bottom-right-radius: var(--theme-style-radius-25);
    //   //     }

    //   //     .o_Composer_toolButtonSeparator {
    //   //       border-left: none;
    //   //     }

    //   //     .o_Composer_actionButton {
    //   //       background-color: transparent;
    //   //       color: var(--primary);
    //   //       border-color: transparent;
    //   //       &:after {
    //   //         content: "\f1d8";
    //   //         font-family: FontAwesome;
    //   //         font-weight: normal;
    //   //       }
    //   //       &:hover {
    //   //         background-color: transparent;
    //   //         border-color: transparent;
    //   //         box-shadow: none;
    //   //       }
    //   //     }
    //   //     .fa-paperclip,
    //   //     .o_Composer_buttonEmojis {
    //   //       background-color: var(--list-color);
    //   //     }
    //   //   }
    //   // }
    //   // .o_ThreadView_messageList {
    //   //   .o_Message_content {
    //   //     .o_Message_prettyBody {
    //   //       a {
    //   //         background-color: var(--primary) !important;
    //   //         border-radius: 25px !important;
    //   //         color: $white;
    //   //       }
    //   //       p {
    //   //         overflow: unset;
    //   //       }
    //   //     }
    //   //   }
    //   // }
    // }
    // 	o_Discuss_content
    // .o-starred-box {
    //   .o_DiscussSidebarItem_counter {
    //     background-color: $primary !important;
    //     color: $white !important;
    //     border-color: transparent !important;
    //   }
    // }
    // o-starred-box
  }
}
// .o_widget_Discuss {
//   padding: 0px 20px 20px;
// }
// .o_action_manager {
//   .o_Discuss {
//     .o_Message {
//       background-color: transparent;
//       border: 1px solid var(--ks-border);
//     }
//   }
// }
/*....End Discuss Page ....*/
