<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data> 
        <!--menuitem id="main_menu_quick_timesheet_sheet"
            name="Quick Timesheet"
            parent="hr_timesheet.timesheet_menu_root"
            sequence="5"/-->
        <!--menuitem 
            name="Quick Timesheets"
            id="menu_quick_timesheet_sheet"
            parent="main_menu_quick_timesheet_sheet"
            action = "quick_timesheet_sheet.create_quick_timesheet_sheet"
            groups="hr_timesheet.group_hr_timesheet_user" 
            sequence="50"/-->
        <menuitem
            name="Quick Timesheets"
            id="menu_quick_timesheet_sheet"
            parent="hr_timesheet.timesheet_menu_root"
            action = "quick_timesheet_sheet.create_quick_timesheet_sheet"
            groups="hr_timesheet.group_hr_timesheet_user"
            sequence="50"/>

        
        <menuitem 
            name="Work Types"
            id="menu_work_type_quick_timesheet_sheet"
            parent="hr_timesheet.hr_timesheet_menu_configuration"
            action = "quick_timesheet_sheet.work_type_quick_timesheet_sheet"
            groups="hr_timesheet.group_hr_timesheet_user" 
            sequence="50"/>
     </data>
</odoo>
