/* Copyright 2019, 2020 Odoo VietNam
 * License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */


@font-face {
    font-family: Roboto;
    src: url(/backend_theme_odoo13/static/src/font/Roboto-Regular.ttf)
}


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);


// Change colors here
// Odoo EE colors
//$brand-primary: #875a7b;
//$brand-secondary: #00A09D;
//------------------------
$brand-primary: #4c4c4c;
$brand-secondary: #4c4c4c;
$brand-greencolor: #00a09d;
//------------------------


$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);

body {

    font-family: "Roboto";
}

.o_loading {
    background-color: $brand-primary;
}

.o_main_navbar {
    background-color : $brand-primary;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {

    background-color: $brand-primary-dark;
    color: inherit;

}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: $brand-primary-dark;
}

.o_main_navbar .show .dropdown-toggle {

    background-color: $brand-primary-dark;

}

.app-sidebar {
    display: none;
}

// Fix color Add file button
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    color: $gray-dark !important;
}

// Buttons

.btn {
    border-radius: 0px;
}

.btn-primary {

    color: #fff;
    background-color: $brand-greencolor;
    border-color: $brand-greencolor;

}

.btn-primary:hover {

    color: #fff;
    background-color: $brand-secondary-dark;
    border-color: $brand-secondary-dark;
}

.btn-secondary {
    border: none;
}

.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee !important;
}


.btn-link {
    color: $brand-greencolor;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    color: $brand-primary;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(.disabled):hover {
    color: $brand-primary;
}

.o_dropdown_toggler_btn, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .o_dropdown_toggler_btn:hover, .o_dropdown_toggler_btn:focus, .btn-icon, .o_graph_button {
    text-transform: none !important;
    color: $gray-dark !important;
    background-color: transparent !important;
    border: none !important;
}

.dropdown-menu {
    border-radius: 0px;
}

.oe_highlight {
    color: #ffffff !important;
    background-color: $brand-primary !important;
}

.o_external_button {
    color: $brand-greencolor !important;
    background: #ffffff;
}

.o_button_icon {
    color: $brand-primary !important;
}

// Badges

.badge {
    border: 1px solid $brand-secondary;
}

// Calendar

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: $brand-primary !important;
    color: #ffffff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: $brand-primary;
}

.datepicker {
    .table-sm {
        > thead {
            color: white;
            background-color: $brand-primary;

            > tr {
                &:first-child {
                    th:hover {
                        color: white;
                        background-color: darken($brand-primary, 10%);
                    }
                }

                &:last-child {
                    color: $o-datepicker-week-color;
                    background-color: $o-datepicker-week-bg-color;
                }
                > th {
                    border-radius: 0;
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    &.active, .active {
                        background-color: $o-brand-primary;
                        border-radius: 100px;
                    }

                    &.today:before {
                        border-bottom-color: $o-brand-primary;
                    }
                }
            }
        }
    }
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active {
    background-color: $brand-primary;
	border-radius: 0;
}

// Filter search label

.o_searchview {
    .o_searchview_facet {

         background-color: #ffffff;

        .o_searchview_facet_label {
            background-color: $brand-primary;
        }
    }
}

a {

    color: $brand-secondary;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;

}

a:hover {

    color: $brand-secondary-dark;
    text-decoration: none;

}


.o_control_panel {
    background-color: #ffffff;
}

.breadcrumb {
    background-color: inherit;
}

// Input

input[type="text"], input[type="password"], input[type="number"],
textarea, select, .o_form_view.o_form_editable .o_form_field_many2manytags,
.o_searchview
{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
}

.o_web_client input:focus, .o_web_client textarea:focus, .o_web_client select:focus {
    outline: none;
    border-bottom: 1px solid $brand-primary;
}

.o_input {
    border: 1px solid #ccc;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: $gray;
}

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $brand-greencolor
    }
}

.o_required_modifier {
    &.o_input, .o_input {
        background-color: lighten($brand-primary, 35%) ! important;
    }
}

.input-group-text {
	background-color: transparent;
	color: #fff;
	border: 0px;
}

.o_searchview_extended_prop_value input{
    border-bottom: 1px solid #ccc !important;
    border-radius: 4px;
}
.o_filters_menu .o_filter_condition .o_or_filter{
    position: initial;
    color: $brand-secondary !important;
}

// Listview

.o_list_view.table {
    border: none;
}
.o_list_view.table thead, .o_list_view.table tfoot, .o_list_view.table td,.o_list_view.table th {
    border: none;
}
 
.o_list_view.table thead {
    background-color: #e2e2e0;
}
 
.o_list_view.table thead > tr > th.o_column_sortable:hover {
    background-color: #D6D6D3;
}
 
.o_list_view.table tbody tr.o_group_header {
    background-color: #dfdfdf;
    background-image: none;
    border-top: 1px solid #e2e2e0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #eef0f0;
}

.o_list_view tfoot {
    background-color: $brand-primary;
    color: #ffffff;
    cursor: default;
    font-weight: normal;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #dee2e6;
}

.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #666666 !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #666666 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: $brand-primary;
}

.o_form_view .o_horizontal_separator {
    color: #666666;
    font-weight: bold;
}

// Forms

.o_form_view {

     .o_form_sheet_bg {
        background: none !important;
        background-color: #F9F9F9 !important;
        padding: 0px;
        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
        }
    } 

    .o_form_statusbar {
        //margin: -16px;
  
        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}

// App Dashboard

.o_menu_apps .dropdown-menu.show {
    background: linear-gradient(to right bottom, #dc3545, #cc708c);

}


.fa-th-large::before {
    content: "\f00a";
}

.o_menu_apps .full {
    width: 46px;
    font-size: 18px;
    text-align: center;
}

.o-app-name {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
	padding: 20px 0 0;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {
    background: transparent;
}

.o-menu-search-result {
	color: #fff;
}

// Chat window

.o_thread_window .o_thread_window_header {
	background-color: $brand-primary;
}

/*=========Knight Nguyen editor==============================================================================================================================*/
/*Edit general*/
li.gift_icon.o_mail_systray_item{
    display: none !important;
}

/*Edit form view*/
.o_form_view .o_field_empty {
    min-height: 30px;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
    box-shadow: inset 3px 0 0 $brand-primary;
}

.o_form_view.o_xxs_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{
    line-height: 2;
}

.o_content .o_form_view .o_form_statusbar, .modal-content .o_form_view .o_form_statusbar{
    z-index: 2;
}

span.o_field_widget.o_readonly_modifier {
    color: $brand-primary;
    background-color: #e9ecef;
}

.o_form_uri.o_field_widget.o_readonly_modifier {
    background-color: #e9ecef;
}

.o_form_view .o_form_uri{
    color: $brand-primary;
}

.o_form_view .o_form_uri > span:first-child{
    color: $brand-primary;
}

.o_field_widget.o_field_copy{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
    color: $brand-primary;
}

.o_input{
    color: $brand-primary;
}

.app_oe_subtotal_footer .hl-bud-ft{
    color: $brand-primary;
}

.o_control_panel .breadcrumb-item:nth-last-of-type(2)::before{
    color: $brand-primary;
}

.picker-switch span.fa.primary{
    background-color: $brand-primary;
}

.o_form_view .o_form_uri{
    padding: 10px 0px;
}

.o_form_view .o_field_widget{
    margin-bottom: 0;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td {
    /*padding-bottom: 10px;*/
}

.o_field_empty {
    display: inline-block !important;
}

.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier) .o_input{
    padding: 0px !important;
}

.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier) > .o_field_text{
    vertical-align: middle !important;
}

input[type="text"], input[type="password"], input[type="number"], textarea, select, .o_form_view.o_form_editable .o_form_field_many2manytags{
    border: none;
}

.o_form_view .o_group .o_field_widget{
    padding: 5px;
    min-height: 30px;
    color: $brand-primary;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 10px;
}

.o_datepicker.o_field_date {
    padding: 0px !important;
}

.o_form_view .o_group .o_field_widget .o_field_many2manytags .o_field_many2one{
    border: none !important;
}

.o_form_view .o_group .o_field_widget.o_field_many2one.o_required_modifier{
    padding: 0px;
}

.o_form_view .o_group .o_field_many2one{
    padding:0px !important;
}


.o_form_view .o_group .ui-autocomplete-input{
    border-radius: 5px !important;
}


 .o_form_view .o_group .o_field_widget .o_datepicker_input{
    border-radius: 5px;
 }

.o_external_button{
    color: $brand-greencolor !important;
    background: transparent;
    margin: auto;
}

.o_field_widget .o_input_dropdown{
    width: 90%;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{
    padding: 0px;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{
    min-width: 100px;
}

.o_form_view .o_group .o_field_widget > .btn{
    padding: 0 5px;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td{
    vertical-align: top;
}

.o_form_view .o_group .o_td_label{
    border-right: none;
}

.o_form_label.o_required_modifier:after {
    content: ' *';
    color: red;
}

.o_required_modifier .o_input{
    background-color: transparent !important;
}

.o_field_widget .o_required_modifier .o_input{
    background-color: transparent !important;
    border-bottom: 1px solid red !important;
    border-radius: 3px;
    min-height: 30px;
}

.o_form_view .o_field_boolean{
    border: none !important;
    margin-left: 10px;
}

.o_form_view .o_form_label{
    font-size: 10px;
}

.ui-autocomplete .ui-menu-item > a:hover,.ui-autocomplete .ui-menu-item > a:focus,.ui-autocomplete .ui-menu-item > a:focus-within,.ui-autocomplete .ui-menu-item > a:active, .ui-autocomplete .ui-menu-item > a:visited{
    background-color: $brand-primary;
    color: #fff !important;
}


.o_web_client .o_mobile_search .o_mobile_search_header{
    background-color: $brand-primary;
}

.o_searchview .o_searchview_autocomplete li.o-selection-focus{
    background-color: $brand-primary;
    padding: 20px;
}

.o_searchview .o_searchview_input_container .o_searchview_autocomplete li.o-indent{
    margin: 20px 0px;
}

.badge-primary{
    background-color: $brand-primary;
}

.o_control_panel .breadcrumb-item:nth-last-of-type(2)::before{
    content: "\f060";
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 10px;
}

.o_form_statusbar .fa-gears:before, .fa-cogs:before{
    content: "\f03a";
}

.btn-secondary{
    border: 1px solid #e9ecef;
    background: #e9ecef;
    color: $brand-primary;
}

.o_control_panel .o_form_buttons_view > button:first-child{
    min-width: 47px;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled{
    border-left: none;
}

.o_list_view .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier) .o_input .o_input{
    border: none !important;
}

.o_field_x2many_list_row_add a {
    color: $brand-greencolor;
}

.o_attachment .o_attachment_delete:hover{
    background: $brand-greencolor;
}

/*check box*/
.custom-checkbox .custom-control-label::before{
    border-radius: 0px;
}

/*Edit button css*/
.btn-primary.disabled, .btn-primary:disabled{
    background-color: $brand-primary;
    border-color: $brand-primary;
}

.o_field_widget.o_field_many2one .o_external_button{
    background: none;
    font-size: 10px;
    margin-top: 4px;
}

.o_field_widget .o_input_dropdown .o_dropdown_button{
    top: 0px;
    right: 5px;
}

.o_required_modifier.o_input, .o_required_modifier .o_input{
    background-color: transparent !important;
}

/*Edit chat widget right to bottom of following*/
.oe_following{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

/*Edit dropdown menu metion chat*/
.o_form_view > .oe_chatter .o_thread_composer .o_composer_mention_dropdown{
    position: absolute;
    top: 100%;
}

.dropup .dropdown-menu {
    top: 100%;
    bottom: auto;
}

.o_thread_composer .o_composer .o_composer_mention_dropdown .o_mention_proposition .o_mention_name{
    font-size: 10px;
}

.o_thread_composer .o_composer .o_composer_mention_dropdown .o_mention_proposition .o_mention_info{
    font-size: 10px;
}

.o_followers .o_followers_list{
    width: 25vh !important;
}

.o_composer_container .o_composer {
    padding: 0px !important;
}

.o_composer_input .o_input.o_composer_text_field{
    padding-left: 10px !important;
}

.o_thread_composer .o_composer .o_composer_button_full_composer{
    right: 0 !important;
}

/*Edit input no border in footer*/
.o_form_view .app_oe_subtotal_footer .o_group.o_inner_group > tbody > tr > td span.o_field_widget{
    border:none;
    padding: 2px;
    margin: 0px;
    min-height: 20px !important;
}

.modal.o_technical_modal.o_modal_full .modal-dialog .modal-content .modal-header{
    background: $brand-primary;
}

.o_main_navbar > ul > li.o_extra_menu_items.show > ul > li > a{
    background-color: $brand-primary;
}

.o_main_navbar > ul > li.o_extra_menu_items.show > ul > li > a.dropdown-toggle{
    background-color: $brand-primary;
}

.o_form_statusbar{
    z-index: 100;
}

.o_chatter .o_chatter_topbar .btn{
    padding:5px;
    font-size: 11px;
}

.o_thread_composer .o_composer .o_composer_button_full_composer{
    right: 10px;
}

.o_thread_composer .o_composer .btn.fa{
    opacity: 0.5;
}

.o_followers .o_followers_follow_button .o_follow, .o_followers .o_followers_follow_button .o_followers_unfollow, .o_followers .o_followers_follow_button .o_followers_following{
    font-size:10px;
}

/*Edit input invisible*/
.o_invisible_modifier{
    border:none !important;
    display: none !important;
}

/*Edit list view*/
.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    position: static;
    top: 0;
    z-index: 1;
}

.o_list_view .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell){
    vertical-align: initial;
}

.table-striped > tbody > tr:nth-of-type(2n+1):hover {
    background-color: #c8c8c8;
}

.table-hover tbody tr:hover{
    background-color: #c8c8c8;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a{
    color: #4c4c4c !important;
    background: #fff;
}

/*Edit discusstion*/
.o_mail_discuss .o_mail_discuss_sidebar{
    background-color: #f8f9fa;
    color: $brand-primary;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active{
    background-color: $brand-primary;
    color: #ffffff;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item:hover{
    background-color: $brand-primary;
    color: #ffffff;
}

/*setting tab*/
.o_base_settings .o_setting_container .settings_tab{
    background: $brand-primary;
}


/*pns edit css*/
.app_oe_subtotal_footer .hl-bud-ft{
    color: $brand-primary !important;
}

/*change style view active*/
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
    color: $brand-greencolor;
}

.btn-link:hover{
    color: $brand-secondary-dark;
}

.btn-secondary:hover{
    color: $brand-greencolor;   
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background-color: $brand-greencolor;
    border-color: $brand-greencolor;
}

.search-container.form-row.align-items-center{
    display:none;
}

.o-app-name{
    white-space: normal !important;
    text-align: center;
}

.o_menu_apps .dropdown-menu.show{
    padding-top: 50px;
}

@media only screen and (min-width: 1025px) {
    /*For desktop*/
    .o_form_view{
        flex-flow: row nowrap;
        display: flex;
    }

    .o_form_view .o_form_sheet_bg{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 70%;
        border-bottom: none;
        background: unset;
    }

    .o_form_view .oe_chatter{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 30%;
        padding: 0;
        min-width: unset;
        max-width: 340px;
        border-left: 1px solid #d9d7d7;
    }

    .o_web_client .o_mobile_search .o_mobile_search_header{
        background-color: $brand-primary;
    }
    .o_form_view .o_group .o_field_widget{
        width: 100% !important;
    }
    /*Edit popup*/
    .modal-lg, .modal-xl {
        max-width: 80%;
    }
}
    
@media only screen and (min-width: 768px)  and (max-width: 1024px) {
  /* For ipad */
    .o_form_view .o_group .o_field_widget{
        width: 100% !important;
    }
    /*Edit popup*/
    .modal-lg, .modal-xl {
        max-width: 80%;
    }
    html .o_web_client .o_action_manager .o_action .o_content{
        overflow: scroll;
    }
}

@media only screen and (min-width: 475px)  and (max-width: 768px) {
  /* For iphone */
   .o_form_view .o_group .o_group_col_4{
        width: 100%;
    }
    .o_form_view .o_group .o_field_widget{
        width: 100% !important;
    }
    .o_form_view .app_oe_subtotal_footer .o_group.o_inner_group > tbody > tr > td span.o_field_widget{
        width: auto !important;
    }
    .app_oe_subtotal_footer .o_group.total-claim{
        text-align:right !important;
    }
    .o_control_panel .o_cp_right > .o_cp_pager{
        display: none;
    }
    button.btn.btn-link.o_chatter_button_attachment{
        height: 30px;
    }
    .o_searchview{
        padding: 0 !important;
        border-bottom: 1px solid #ccc;
    }

    .o_control_panel .btn.o_enable_searchview{
        color: #fff;
        font-size: 8px;
        background: $brand-primary;
        margin: 5px 0px
    }

    .o_control_panel .btn.o_enable_searchview:hover{
        color: #fff;
        font-size: 8px;
        background: $brand-primary;
        margin: 5px 0px
    }
    button.o_toggle_searchview_full.btn.fa.fa-filter{
        color: #fff;
        font-size: 13px;
        background: $brand-primary;
        margin: 5px 0px
    }
    .o_searchview .o_searchview_input_container .o_searchview_input{
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        margin: 5px 0px;
        border-radius: 5px;
        width:100%;
    }
    .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{
        flex-basis: 0%;
        right: 0;
        display: contents;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container{
        background-color: $brand-primary;
    }
    .btn-secondary{
        min-width: 47px;
        margin-right: 10px;
    }
    .btn-primary{
        margin-right: 5px;
    }
    .o_control_panel .o_form_buttons_view > button:first-child{
        margin-right: 10px;
    }
    /*seting tab*/
    .o_base_settings .o_setting_container .settings_tab .tab:after{
        background: $brand-greencolor;
    }
    .o_control_panel .o_cp_switch_buttons.show .dropdown-menu{
        box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
        margin: 5px 0px;
        background: #e9ecef;
    }
    html .o_web_client .o_action_manager .o_action .o_content{
        overflow: scroll;
    }
    .o_content .o_form_view .o_chatter .o_chatter_topbar > .o_topbar_right_area .o_followers, .modal-content .o_form_view .o_chatter .o_chatter_topbar > .o_topbar_right_area .o_followers{
        padding-bottom: 0px;
    }
    .o_form_view .o_group.extend_budget_footer .row_left_wrapper{
        position: static !important;
        text-align: right !important;
        border-top: 1px solid #cecece;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 475px) {
    /* For mobile phones */
    .o_mail_discuss .o_mail_discuss_sidebar{
        width: 100% !important;
        height: auto !important;
    }
    .o_followers.btn-group.o_field_widget{
        padding-bottom:0;
    }
    .o_form_view .o_group .o_group_col_4{
        width: 100%;
    }
    .o_form_view .o_group .o_field_widget{
        width: 100% !important;
    }
    .o_form_view .app_oe_subtotal_footer .o_group.o_inner_group > tbody > tr > td span.o_field_widget{
        width: auto !important;
    }
    .app_oe_subtotal_footer .o_group.total-claim{
        text-align:right !important;
    }
    
    .o_control_panel .o_cp_right > .o_cp_pager{
        display: none;
    }
    button.btn.btn-link.o_chatter_button_attachment{
        height: 30px;
    }

    .o_searchview{
        padding: 0 !important;
        border-bottom: 1px solid #ccc;
    }

    .o_control_panel .btn.o_enable_searchview{
        color: #fff;
        font-size: 8px;
        background: $brand-primary;
        margin: 5px 0px
    }

    .o_control_panel .btn.o_enable_searchview:hover{
        color: #fff;
        font-size: 8px;
        background: $brand-primary;
        margin: 5px 0px
    }
    button.o_toggle_searchview_full.btn.fa.fa-filter{
        color: #fff;
        font-size: 13px;
        background: $brand-primary;
        margin: 5px 0px
    }
    .o_searchview .o_searchview_input_container .o_searchview_input{
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        margin: 5px 0px;
        border-radius: 5px;
        width:100%;
    }
    .o_control_panel .o_cp_searchview, .o_control_panel .o_cp_right{
        flex-basis: 0%;
        right: 0;
        display: contents;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container{
        background-color: $brand-primary;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container .o_kanban_mobile_tabs .o_kanban_mobile_tab.o_current{
        border-bottom: 3px solid $brand-greencolor;
    }
    .o_kanban_view.o_kanban_grouped .o_kanban_mobile_tabs_container .o_kanban_mobile_add_column{
        border-left: $brand-greencolor 1px solid;
    }
    /*Edit kanban*/
    .o_controller_with_searchpanel .o_search_panel{
        flex: 0 0 150px;
    }
    .o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left{
        flex: 0 0 40px;
        min-height: 40px;
    }
    .btn-secondary{
        min-width: 47px;
    }
    .o_statusbar_buttons_dropdown span.d-none.d-sm-inline{
        display: inline-block !important;
    }
    .btn-primary{
        margin-right: 5px;
    }
    .btn-secondary{
        margin-right: 10px;
    }
    .o_control_panel .o_form_buttons_view > button:first-child{
        margin-right: 10px;
    }
    /*seting tab*/
    .o_base_settings .o_setting_container .settings_tab .tab:after{
        background: $brand-greencolor;
    }
    .o_control_panel .o_cp_switch_buttons.show .dropdown-menu{
        box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.25);
        margin: 5px 0px;
        background: #e9ecef;
    }
    html .o_web_client .o_action_manager .o_action .o_content{
        overflow: scroll;
    }
    .o_content .o_form_view .o_chatter .o_chatter_topbar > .o_topbar_right_area .o_followers, .modal-content .o_form_view .o_chatter .o_chatter_topbar > .o_topbar_right_area .o_followers{
        padding-bottom: 0px;
    }
    .o_form_view .o_group.extend_budget_footer .row_left_wrapper{
        position: static !important;
        text-align: right !important;
        border-top: 1px solid #cecece;
        padding-top: 20px;
    }
       
}

/*Custom css customer PnS*/
.o_main_navbar{
    background-color: #d21e46;
    border-bottom: 1px solid #d21e46;
}
