<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<record id="account.menu_finance" model="ir.ui.menu">
		<field name="name">Accounting</field>
	</record>
	
	<menuitem id="menu_account_payment_method" action="act_account_payment_method" parent="account.root_payment_menu" sequence="30" groups="base.group_no_one" />
</odoo>