.analysis-section{
	h3{
		margin-bottom:25px;
		padding-bottom:20px;
		position: relative;
		margin-top:15px;
	}
	p{
	    margin-bottom:0px;
	}
	img{
		max-width:100%;
		height:auto;
	}
	.analysis-btn{
		margin-top:14px;
	}
	.analysisbtn{
	    padding: 13px 30px;
	    border: 1px solid theme-color('primary');
	    transition: 0.5s;
	    font-size: 14px;
	    font-weight: 500;
	    line-height:1;
	}
	.analysisbtn:hover{
		border-color: theme-color('primary');
		color: theme-color('primary');
		background-color:white;
	}
	.formgroup{
		margin-top:20px;
		margin-bottom: 1rem;
	}
	.formtext{
		min-height: 55px;
	    border-bottom: 1px solid #dbdbdc;
	    border-top: none !important;
	    border-left: none !important;
	    border-right: none !important;
	    padding:0 0 14px 0;
	    font-size: 14px;
	    color: #9a9b9f;
	    font-weight: 400;
	    width: 100%;
	    border-radius: 0px;
	}

	textarea{
		border: 1px solid #dbdbdc !important;
	}
	.formtext:focus{
		outline:0;
		box-shadow: none;
		border-bottom: 1px solid theme-color('primary') !important;
	}

	@media (max-width: 767px){
		.analysis-content{
			margin-top: 30px;
		}
		span{
			font-size:13px;
		}
		h3{
			font-size: 22px;
    		margin: 10px 0 20px 0;
		}

		.analysis-form{
			margin-top:10px;
		}
		.analysisbtn{
			padding: 8px 20px;
    		font-size: 14px;
		}
	}
}