.blog-section{
	.row{
		margin-left:0;
	}
	figcaption{
	    border: 1px solid #e8e8e8;
	    border-top: none;
	    padding: 20px 25px;
	    transition: 0.5s;
	    position: relative;
	    margin-bottom: 30px;
	    text-align: left !important;
	    min-height:216px;
	}
	.s_latest_posts_post_title{
	    color: #343846 !important;
	    font-size: 20px !important;
	    margin: 10px 0px 10px 0 !important;
	    font-weight: bold !important;
	    line-height: 25px;
	    transition: 0.5s;
	    position: absolute;
		top: 18%;

	}

	.s_latest_posts_post_subtitle{
		font-size: 15px;
	    line-height: 1.7;
	    color: #6a6c72 !important;
	}
	.blogreadmorebtn {
    	margin-top: 16px;
    	position: absolute;
    	bottom:7%;
	}
	.blogbtn{
	    padding: 10px 30px;
	    border: 1px solid #primarycolor;
	    transition: 0.5s;
	    font-size: 14px;
	    font-weight: 500;
	}

	figcaption:hover{
		.blogbtn{
			background-color: white;
	    	color: $primarycolor;
		}
		.s_latest_posts_post_title{
			color: $primarycolor !important;
		}
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
	    border: 1px solid transparent;
	    border-top:none;
	}
	
	ul{
		display: block;
	    list-style-type: disc;
	    margin:0;
	    padding:0;
    }
   	.blog-list {
    	position: absolute;
    	top: 7%;
	}
    li{
    	i{
    		margin-right:5px;
		    font-weight: 900;
		    font-size: 13px;
    	}
    	a{
		    color: #93908f;
    		text-decoration: none;
    	}
    	list-style-type: none;
	    display: inline-block;
	    font-size: 13px;
	    font-weight: 400;
	    margin-right: 18px;
	    color: #93908f;
    }
}

.s_latest_posts_big_picture {
	.blog_detail  {
		padding: 20px;
		position: relative;
		ul {
			list-style-type: none;
			padding:0;
			}
	}
	.s_latest_posts_post {
		height : auto;
	}
	.s_latest_posts_post > div, .s_latest_posts_post > div > a {
		position : relative !important;
	}
	.s_latest_posts_post .thumb > .o_blog_cover_component {
		position : relative !important;
	}
	.o_blog_cover_image {
		background-size: cover;
		height: 300px;
	}
	.o_record_cover_container {
    	position: relative !important;
    	height: 300px !important;
	}
	h5 {
		text-align: left;
		color: #343846;
    	font-size: 20px;
    	margin: 10px 0px 10px 0;
    	line-height: 25px;
    	-webkit-transition: 0.5s;
    	transition: 0.5s;
    	font-weight: 600;
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	&:hover {
    		color: $primarycolor;
    	}
	}
	.custom_p {
	    font-size: 16px !important;
	    text-align: left;
	    margin-top: 10px !important;
        margin-bottom: 10px !important;
        white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
	}
	.date-pos {
	   padding: 4px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: -48px;
    color: #ffffff !important;
    text-align: center;
    background: $primarygamma;
    width: 60px;
    height: 60px;
    	span {
    		color: #ffffff !important;
    		font-size: 18px;
    	}
	}
	
	.card, .media{
		border : 0px;
	}
	
	.learn_more_txt {
		text-align: left;
	    line-height: 27px;
	    text-transform: capitalize;
	    font-size: 1rem;
	}
	.centric_latest_post {
		border: 1px solid #f1f1f1;
		&:hover {
    		border: none !important;
    		box-shadow: 0px 0px 5px 3px #ececec;
    	}
	}
	@media (max-width: 767px) { 
		
	}
	@media screen and (min-width: 768px) and (max-width:1023px)  { 
		.learn_more_txt {
			right: 8%;
		}
	}
}