.boosting-section{
	.tab-content{
		.row.align-items-center {
    		min-height: 505px;
		}
	    
    	
	}
	.tab-content{
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
    	padding: 50px 30px;
	}
	.boosting-title{
		margin-bottom: 50px;
	}
	
	row{
	    display: flex;
	   	
	    flex-wrap: wrap;
	    margin-right: -15px;
	    margin-left: -15px;
	}
	h2{
		font-size: 18px;
	    color: $primarytextcolor;
	    font-weight: 600;
	    margin: 0 0 16px 0;
	    text-transform: uppercase;
	}
	img {
    	max-width: 100%;
    	height: auto;
	}
	p{
		margin:0;
	}
	
	h3{
		
	    margin: 0;
	    padding-bottom: 20px;
	}
	.nav-item{
		-webkit-box-flex: 0;
	    flex: 0 0 16.6666666667%;
	    max-width: 15.6666666667%;
	    text-align: center;
	    margin-right: 5px;
	    margin-left: 5px;
	}
	ul{
		margin-bottom:20px;
	    margin-left: -5px;
		margin-right: -5px;
	}
	.fa{
		font-size:40px;
		font-weight: normal;
	}
	.nav-link{
		span{
			color:black
		}
		display: block;
	    border-radius: 2px;
	    color: #292a2c;
	    -webkit-box-shadow: 0px 10px 40px 0px rgba(107, 125, 179, 0.11);
	    box-shadow: 0px 10px 40px 0px rgba(107, 125, 179, 0.11);
	    padding-top: 15px;
	    padding-bottom: 18px;
	    padding-left: 18px;

	    font-weight: 700;
	    color: black
	}
	.nav-link.active{
		.fa{
			color:white !important;
		}
		span{
			color:white;
		}
		background-color:theme-color('primary');
		color:white;
		box-shadow: 0px 10px 40px 0px rgba(0, 0, 255, 0.22);
	}

	.nav-link:hover{

		span,.fa{
			color:white !important;
		}
		background-color:theme-color('primary');
	}
	.nav-item.bg-eff7e9{
		.fa{
			color:#53ba05;
		}
		background: linear-gradient(to right, #f3fbed, #f1f9eb, #f0f7e9, #eef5e8, #ecf3e6);
	}
	.nav-item.bg-fff8f0{
		.fa{
			color:#e3841a;
		}
		background: linear-gradient(to right, #fff8f0, #fdf6ee, #fbf4ec, #f9f2ea, #f7f0e8);
	}
	.nav-item.bg-ecfaf7{
		.fa{
			color:#04b994;
		}
		background: linear-gradient(to right, #ecfaf7, #eaf8f5, #e8f6f3, #e7f4f1, #e5f2ef);
	}
	.nav-item.bg-f2f0fb{
		.fa{
			color:#775dda;
		}
		background: linear-gradient(to right, #f2f0fb, #f2f0fb, #f2f0fb, #f2f0fb, #f2f0fb);
	}
	.nav-item.bg-c5ebf9{
		.fa{
			color:#37acd7;
		}
		background: linear-gradient(to right, #c5ebf9, #c5ebf9, #c5ebf9, #c5ebf9, #c5ebf9);
	}
	.tab-text-content{
		margin-top: 20px;
	    position: relative;
	    padding-left: 60px;
	}
	.tab-text-content .fa{
	    position: absolute;
    	left: 0;
    	color:#ff4272 !important;
	}
	.boostingbtn{
	    padding: 13px 30px;
	    transition: 0.5s;
	    font-size: 14px;
	    font-weight: 500;
	    line-height:1;
	    margin-top:25px;
	}

	.boostingbtn:hover{
		border-color: theme-color('primary') !important;
		color: theme-color('primary');
		background-color:white !important;
	}

	.boosting-tabs{
		.nav-item{
			padding:0;
		}
	}


	@media (max-width: 767px){
		.fa{
			font-size:15px !important;
		}

		li{
			flex: 0 0 48% !important;
		    max-width: 46% !important;
		    margin-bottom: 10px;
		}
		a{
			font-size: 15px;
		    padding:12px 10px;
		    
		}
		.boosting-title{
		    margin-bottom: 40px;
		}
		span{
		    font-size: 13px;
		}
		h3{
			font-size: 22px;
    		margin: 8px 0 0 0;
		}
		h2{
			margin: 30px 0 10px 0;
		}
		.tab-text-content{
				.fa{
					font-size:20px !important;
					left : 3%;
				}
			    margin-top: 25px;
    			padding-left: 45px;
		}

		.tab-btn{
			a{
			    padding: 8px 20px;
    			font-size: 14px;
			}
			margin-top: 20px;
		}
	}
}