.features-page{
	h1 {
		text-align: left;
		margin-bottom:  2.0625rem;
		font-size:2.64rem;
		font-weight: 800;
		letter-spacing: 0;
		line-height: 1.2;
		margin-left: 1rem;
	}

	h2 {
		display: block;
		margin-block-start: 1.33em;
		margin-block-end: 1.33em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin-top: 9rem;
		margin-right: 0px;
		margin-bottom: 2.0625rem;
		margin-left: 0px;
		font-size: 2.64rem;
		font-weight: 800;
		letter-spacing: 0;
		line-height: 1.2;
	}

	p {
		text-align: left;
		font-weight: 300;
		font-size: 1.25rem;
		box-sizing: border-box;
		margin-bottom:  1rem;
		margin-top: 1rem;
		margin-left: 1rem;
		line-height: unset !important;
	    margin-right: 1rem;
	}


	.data-lg-2.col.py-5.mt-lg-4 {
		padding-top: 0rem;
	}

	center{
		img.feature{
			margin-bottom: 3rem !important;
			height: auto;
			vertical-align: middle; 
		}
		
	}


	.feature-icon1 {
	    width: 50%;
	}
	.feature-icon2 {
	    width: 50%;
	}
	.feature-icon3 {
	    width: 50%;
	}
	.feature-icon4 {
	    width: 50%;
	}

	.feature-image {
	    width: 85%;
	   }
	.block{
		max-height: 50% !important;
		margin-top: 3rem;
		margin-right: 2rem;
	}

	h5{
		text-align: left;
		margin-top: 10px;
		font-size: 1.65rem;
		font-weight: 800;
		letter-spacing: 0;
		line-height: 1.2;
		box-sizing: border-box;
		padding-left: 1rem;
	}

	a.btn:hover{
		box-shadow: 0 19px 38px rgba(0,0,0,0.07), 0 15px 12px rgba(0,0,0,0.1);
	}

	a.btn{
		margin-top: 3rem;
		padding-bottom: 0.5rem;
		padding-left: 1.5rem;
		margin-left: 1rem;
		color:white;
		box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.09);
	}   
	.container-fluid{
		margin-top: 0.3irem;
		width: 100%;
	} 

	.container{
		
		.col-lg-8{
			padding-right:0px;
			padding-left: 0px;
		}
	}

	.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
	}

	@media (min-width: 767px){
		.mt-lg-4, .my-lg-4 {
			margin-top: 0rem !important; 
		}
	}

	@media (max-width: 767px){
		.features-page center img.feature {
			padding-top: 0rem;
			padding-left: 2rem;
			padding-right: 2rem;
			max-width: 243%;
		}
		.feature-icon1 {
		    width: 100%;
		}
		.feature-icon2 {
		    width: 100%;
		}
		.feature-icon3 {
		    width: 100%;
		}
		.feature-icon4 {
		    width: 100%;
		}

	}

	.data-lg-2.col.py-5.mt-lg-4.col-md-10{
		padding-top: 0rem !important;
	}
}



