.service-page{

	h2 {
		display: block;
		margin-block-start: 1.33em;
		margin-block-end: 1.33em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		margin-top: 9rem;
		margin-right: 0px;
		margin-bottom: 2.0625rem;
		margin-left: 0px;
		font-size: 2.64rem;
		font-weight: 800;
		letter-spacing: 0;
		line-height: 1.2;
	}
	.fa{

		color:theme-color('primary');
		font-size: 4em;
		margin: 0;
	}

	.col-lg-4{
		padding-right:0px;
		padding-left: 0px;
	}

	.col-lg-8{
		padding-right:0px;
		padding-left: 0px;
	}

	p {
		text-align: left;
		font-weight: 400;
		font-size: 1.1rem;
		line-height: 1.9;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		webkit-font-smoothing: antialiased;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	ol{
		
		position: unset;
		padding-top:2rem;		
	}

	li{
		background-color: $primarycolor !important;
	}
	
	img{
		height: 15%;
		width: 15%;
		margin-top: 3rem;

	}

	h5{
		text-align: left;
		margin-top: 10px;
		font-size: 1.65rem;
		font-weight: 800;
		letter-spacing: 0;
		line-height: 1.2;
	}

	

	

	

	@media (min-width: 1200px){
		.container {
			max-width: 80% !important;
		}
	}

	@media (max-width:767px) {
	  img#No_mobile_view {
	    display: none;
	  }

	  .service-page.fa{
			font-size: 7em;
			padding-bottom:1rem;
	  }
	  	
		img {
		    width: 23%;
		    margin-top: 0;
		}
		.carousel-item {
		    min-height: auto !important;
		}
		.fa.fa-5x.fa-sellsy.m-3 {
		    font-size: 4.2rem;
		}
	}

}


