.customers-page{

	h2 {
	    margin-top: 2.0625rem;
	    margin-right: 0px;
	    margin-bottom: 2.0625rem;
	    margin-left: 0px;
		font-size:2.64rem;
		font-weight: 800;
		line-weigth:5;
	}
	
	p {
		text-align: center;
		font-size: 1.25rem;
    	font-weight: 300;
    	display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
    	margin-top: 10px;
    	margin-bottom: 10px;
    	line-height: unset !important;
	}

	.col-lg-8{
		padding-top:5rem;
	}

	ol{
		
		position: unset;	
	}
	li{
		background-color: $primarycolor !important;
	}
	.container {
		width: 90%;
		padding-right: 0.7rem;
		padding-left: 0.7rem;
		margin-right: auto;
		margin-left: auto;
	}

	.imge_1{
		width:85px;
		left: 40%;
		top:10%;
		position: absolute;
	}

	.imge_2{
		width:60px;
		left: 10%;
		top:55%;
		position: absolute;
	}

	.imge_3{
		width:70px;
		left: 30%;
		top:95%;
		position: absolute;
	}

	.imge_4{
		width:50px;
		right: 45%;
		top:10%;
		position: absolute;
	}

	.imge_5{
		width:90px;
		right: 20%;
		top:55%;
		position: absolute;
	}

	.imge_6{
		width:80px;
		right: 55%;
		top:95%;
		position: absolute;
	}

	@media (max-width:767px){
		#No_mobile_view{
			display: none !important;
		}

		.carousel-item {
		    min-height: 230px;
		}

		.carousel-indicators {
		    padding-top: 0 !important;
		}
		.col-lg-8 {
		    padding-top: 0 !important;
		}
	}
}
