.home-page{


	h1 {
		text-argin: center;
		font-weight: 1000;
		letter-spacing: 0;
		line-height: 1.2;
		margin-top: 2.0625rem;
		margin-right: 0px;
		margin-bottom: 2.0625rem;
		margin-left: 0px;
		font-size: 3.2rem;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		box-sizing: border-box;
	}

	img{
		weight:80%;
		vertical-align: middle;
	}

	p {
		font-size: 1.25rem;
		font-weight: 300;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		line-height: 1.9;
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	a{
		
		margin-bottom: 30px;
		margin-left: 15px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.09);
	}

	a:hover{
		box-shadow: 0 19px 38px rgba(0,0,0,0.07), 0 15px 12px rgba(0,0,0,0.1);
	}
	
	.backToTop{
		position: fixed;
		
	}
	.abcd img{
		position: absolute;
		z-index: -1;
		width: 100%;
		top: 0px;
	}

	.container {
		width: 90%;
		padding-right: 0.7rem;
		padding-left: 0.7rem;
		margin-right: auto;
		margin-left: auto;
	}
}