.achievement-page{
	
	h1 {
		color: white;
		margin-top: 0 !important;
		font-size: 2rem;
	}
	h2{
		text-align: center !important;
		font-size: 2rem;
		letter-spacing: 0;
		line-height: 1.2;
		padding-bottom: 1.8rem;
		padding-top: 5rem;
	}

	h5 {
		text-align: center;
		color:white;
		font-size: 1rem;
		font-weight: 500;
		margin-bottom: 0 !important;
		line-weigth:5;
		size:40px;
	}

	.item {
	    padding: 75px 30px;
	}

	.container{
		margin-top: 7rem;
		text-align: center;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	.col-lg-2{
		padding-left: 2rem;
		border-radius: 8px;
		border-weight:5;
		box-shadow: 0 19px 38px rgba(0,0,0,0.07), 0 15px 12px rgba(0,0,0,0.1);
	}

	@media(max-width: 767px){
		.item{
			margin: 20px 0;
		}
	}
}