.clients{
	    padding: 60px 0px !important;
    	background-color: transparent !important;


}

@media (max-width: 767px){
	.clients{
		.col-lg-2{
			padding-bottom: 25px;
		}
		text-align: center;
	}
}
