.modal.o_theme_customize_modal  {

	.o_theme_customize_option > img + label {
   	 position: relative !important;
	}
	.o_theme_customize_option:not(.dropdown-item) label {
    	background-color: #e2e2e0 !important;
	}
	
	.modal-content {
    	min-height: 559px !important;
	}
	
	.modal-header {
		background: linear-gradient(to right, #343996 0%, #202647 100%) !important;
	}
	.nav-link.active {
    	background: linear-gradient(to right, #343996 0%, #202647 100%) !important;
    	color: white !important;
	}
}