.features{
	.shape-img1{
		img{
		    max-width: 100%;
    		height: auto;
		}
		position: absolute;
	    left: 25%;
	    top: 10%;
	    z-index: -1;
	    height: auto;
	    width: 12px;
	}
	.shape-img2{
		img{
		    max-width: 100%;
    		height: auto;
		}
		position: absolute;
	    left: 36%;
	    top: 9.5%;
	    z-index: -1;
	    height: auto;
	}
	
	h3{	
		
		
		margin-bottom:25px;
		padding-bottom:20px;
		position: relative;
	}
	p{
		
	    margin-bottom:0px;
	}
	.featurebtn{
	    padding: 12px 32px;
	    transition: 0.5s;
	    font-size: 16px;
	    font-weight: 500;
        margin-top: 20px;
    	line-height: 1;
	}

	.featurebtn:hover{
		color:theme-color('primary');
		background-color:white;
	}
	#feat{
		color: $primarytextcolor;
		font-size:20px;
		font-weight:600;
	}
	.featurectnt{
		h3{
			margin: 20px 0 10px 0;
			padding:0;
		}
	}
	.feature-item1{
		transition: 0.5s;
		background-color:#f1eff8;
		border:1px dotted white;
		padding: 40px 30px;
		margin-bottom:30px;
		border-radius:5px;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
	}
	.feature-item1:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.icon{
		text-align: -webkit-center;
	}
	.dotted-img{
		
    	height: 65px;
    	width: 65px;
    	color: #5d43bc;
    	border: 2px dotted #5d43bc;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.feature-item2{
		background-color:#fbe6d4;
		border:1px dotted white;
		padding: 40px 30px;
		margin-bottom:30px;
		margin-top:40px;
		border-radius:5px;
		transition: 0.5s;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);

	}
	@media(max-width: 767px){
		.featureitem{
			padding: 25px 20px;
		}
		.feature-item2{
			margin-bottom:75px;
			margin-top:0;
		}
		.feature-item3{
			margin-bottom:30px;
		}
		span{
		    font-size: 13px;
		}
		h3{
		    font-size: 25px;
    		margin: 10px 0 25px 0;
		}
		.featurebtn{
		    margin-top: 25px;
    		margin-bottom: 35px;
		}

	}
	.feature-item2:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.feature-item3{
		background-color:#f0fffc;
		border:1px dotted white;
		padding: 40px 30px;
		margin-top:-40px;
		border-radius:5px;
		transition: 0.5s;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);

	}
	.feature-item3:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.feature-item4{
		background-color:#f8e1eb;
		border:1px dotted white;
		padding: 40px 30px;
		border-radius:5px;
		transition: 0.5s;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
		
	}
	.feature-item4:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.dotted-img2{
		
    	height: 65px;
    	width: 65px;
    	color: #f1760c;
    	border: 2px dotted #f1760c;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.dotted-img3{
		
    	height: 65px;
    	width: 65px;
    	color: #19b192;
    	border: 2px dotted #19b192;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.dotted-img4{
		
    	height: 65px;
    	width: 65px;
    	color: #f0116f;
    	border: 2px dotted #f0116f;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.fa{
		font-size:30px;
		padding-top: 15px;
	}
	padding-top: 100px;
}