.footer_seven.o_footer {
	@if color('footer') == #F9F9F9 {
		background-color: #fff !important;
    	
    } @else {
    	@include o-bg-color(color('footer'));
    }
}

#footer_seven {
	.footer5{
	    .form-control{
	        background: #fff;
	    }
	    .social-links{
	        margin: 20px 0;
	        a{
	            color:#8d97ad;
	            opacity: 0.5;
	            padding: 0 15px 0 0;
	            &:hover{
	                color:#316ce8;
	                opacity: 1;
	            }
	        }
	    }
	}
}
