.footer-page{
	.container{
		margin-right:auto;
		margin-left:auto;
		max-width: 1140px;
	}
	.footer-head{
		margin-bottom: 25px;
	}
	.footer-head h3{
		font-size: 20px;
    	color: #ffffff;
    	font-weight: 600;
    	margin: 0;
	    border-bottom: 1px solid #3c4350;
	    padding-bottom: 10px;
        width: 102%;
	}
	.footer-links{
		padding-left:0px;
		margin-bottom:0px;
	}

	.footer-links li{
		list-style-type: none;
    	padding-bottom: 16px;
	}
	.footer-links a{
		color: #e0dbdb;
		transition: 0.5s;
	}
	.footer-links a:hover{
		
		text-decoration: none;
	}
	.shareftle{
		background-color: white;
	    width: 35px;
	    height: 35px;
	    border-radius: 50%;
	    line-height: 34px;
	    font-size: 10px;
	    color: theme-color('primary');
	    transition: 0.5s;
	    text-align:center;
	    font-size: 15px !important;
	}

	.shareftle:hover{
		color: white;
		background-color: theme-color('primary');
	}
	.contactus{
		color:#e0dbdb;
	}
	.footer-contact{

	    position: relative;
    	padding-left: 35px;
    	margin-bottom: 14px;
	}
	.footer-contact h3{
		font-size: 16px;
	    color: #e0dbdb;
	    font-weight: 500;
	    margin: 0 0 10px 0;
	}

	.footer-contact i{
		color: #ffffff;
	    position: absolute;
	    left: 0;
	    top: -4px;
	    font-size: 25px;
	}

	

	p{
		font-size: 15px;
	    line-height: 1.7;
	    color: #d1cfcf;
	    margin-bottom: 15px;
	}
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    padding-bottom: 70px;
    padding-top: 100px;
}
.footer-page::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #090b17;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.9;
}

#to-top {
	position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10000;
    
    a {
    	color: #FFF !important;
    	text-align: center;
    	background: theme-color('primary') !important;
	    font-size: 16px;
	    line-height: 50px;
	    width: 50px;
	    font-weight: 500;
	    height: 50px;
	    display: block;
	    border-radius: 50%;
    }
}