
/******************* 
footer
*******************/
.footer {
  padding: 20px 0;
  text-align: center; }

.custom_p {
  font-weight: 300;
  font-size: 1rem;
}
/*******************
Footer 4
*******************/
.footer4 .f4-bottom-bar {
  padding-top: 10px;
  margin-top: 20px; }
  .footer4 .f4-bottom-bar a {
    /* color: #8d97ad; */ }
    .footer4 .f4-bottom-bar a:hover {
      color: #188ef4; }

.footer4 .round-social.light a {
  width: 34px;
  height: 34px;
  line-height: 34px; }
  .footer4 .round-social.light a:hover {
    background: #188ef4; }

/*******************
Footer 4
*******************/
.footer4 .navbar-nav .nav-link {
  font-size: 14px;
  font-weight: 300;
  /* color: #8d97ad; */ }
  .footer4 .navbar-nav .nav-link:hover {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cd 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cd));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cd 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cd 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent; }

/*************/
/* General Listing*/
/*************/
.general-listing {
  padding: 0px;
  margin: 0px; }
  .general-listing li {
    list-style: none; }
    .general-listing li a {
      /* color: #8d97ad; */
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 0;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .general-listing li:hover a {
      color: #316ce8;
      padding-left: 10px; }
    .general-listing li i {
      margin-right: 7px;
      vertical-align: middle; }
  .general-listing.two-part li {
    width: 49%;
    display: inline-block; }
  .general-listing.only-li li {
    padding: 5px 0; }


.footer_two.o_footer {
	@if color('footer') == #F9F9F9 {
		background-color: #fff !important;
    	
    } @else {
    	@include o-bg-color(color('footer'));
    }
}

.footer_two{
  .logo img{
    max-height:50px;
  }
}