.footer_eight.o_footer {
	@if color('footer') == #F9F9F9 {
		background-color: #3e4555 !important;
    	
    } @else {
    	@include o-bg-color(color('footer'));
    }
}

#footer_eight {
    .round-social{
        a {
            background: rgba(120, 130, 140, 0.13);
            color: #8d97ad;
            width:40px;
            height:40px;
            line-height:40px;
            &:hover{
            color:#fff;
            }
        }
    }
	
}