.footer_three.o_footer {
	@if color('footer') == #F9F9F9 {
		background-color: #fff !important;
    	
    } @else {
    	@include o-bg-color(color('footer'));
    }
}

#footer_three {
	.f1-middle {
	    padding: 40px 0;
	    color: #8d97ad;
	}
	.logo img{
		max-height:50px;
	}
	.text-dark-1 {
	    color: #343a40!important;
	}
	.f1-bottom-bar {
	    padding: 20px 0;
	    border-top: 1px solid rgba(120, 130, 140, 0.13);
	}
	
}
