.footer_four.o_footer {
	@if color('footer') == #F9F9F9 {
		background-color: #343a40 !important;
    	
    } @else {
    	@include o-bg-color(color('footer'));
    }
}

#footer_four {
	.footer2 {
	    padding: 60px 0;
	    color: #8d97ad;
	    .info {
	    	a {
	    	color: #8d97ad;
	    }
	    }
	    .f2-middle {
		    padding-top: 40px;
		}
		.link {
		    color: #8d97ad;
		    padding: 10px 15px 10px 0;
		}
		.general-listing {
		    padding: 0px;
		    margin: 0px;
		}
		.general-listing li {
		    list-style: none;
		}
		.general-listing li a {
		    color: #8d97ad;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    padding: 10px 0;
		    -webkit-transition: 0.2s ease-in;
		    -o-transition: 0.2s ease-in;
		    transition: 0.2s ease-in;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		}
		.general-listing li i {
		    margin-right: 7px;
		    vertical-align: middle;
		}
		.general-listing li a i {
		    font-size: 9px;
		    margin-right: 10px;
		}
		.info-box .d-flex {
		    padding: 15px 0;
		    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		}
		.subscribe-box {
		    background: rgba(120, 130, 140, 0.13);
		    padding: 25px;
		}
		.general-listing li:hover a {
		    color: #009efb;
		    padding-left: 10px;
		}
		a.link:hover, a.link:focus {
		    color: rgb(0, 158, 251);
		}
		.subscribe-box .form-control {
		    background: transparent;
		    padding: 10px 0;
		    border: 0px;
		    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		    color: #ffffff;
		    border-radius: 0px;
		}
	}
	
}