.bg-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  border: 0px; 
  color : #fff;
}
.bg-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%); 
    color : #fff;
}


.bg-info-gradiant {
  background: #188ef4;
  background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%);
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8));
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
  border: 0px;
  color: #ffffff; 
}
.bg-info-gradiant:hover {
    background: #316ce8;
    background: -webkit-linear-gradient(legacy-direction(to right), #316ce8 0%, #188ef4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#316ce8), to(#188ef4));
    background: -webkit-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: -o-linear-gradient(left, #316ce8 0%, #188ef4 100%);
    background: linear-gradient(to right, #316ce8 0%, #188ef4 100%); 
}
      
.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  border: 0px; 
  color : #fff;
}
.bg-success-gradiant:hover {
    background: #1dc8cc;
    background: -webkit-linear-gradient(legacy-direction(to right), #1dc8cc 0%, #2cdd9b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#1dc8cc), to(#2cdd9b));
    background: -webkit-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: -o-linear-gradient(left, #1dc8cc 0%, #2cdd9b 100%);
    background: linear-gradient(to right, #1dc8cc 0%, #2cdd9b 100%); 
}

 
.bg-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  border: 0px; 
  color : #fff;
}
.bg-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%); 
}

.bg-warm-flame-gradiant {
	background: #ff9a9e;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ff9a9e 0%, #fad0c4 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#ff9a9e), to(#fad0c4));
  	background: -webkit-linear-gradient(left, #ff9a9e 0%, #fad0c4 100%);
  	background: -o-linear-gradient(left, #ff9a9e 0%, #fad0c4 100%);
  	background: linear-gradient(to right, #ff9a9e 0%, #fad0c4 100%);
  	border: 0px;
  	color : #fff;
}
.bg-warm-flame-gradiant:hover {
    background: #fad0c4e;
    background: -webkit-linear-gradient(legacy-direction(to right), #fad0c4 0%, #ff9a9e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#fad0c4), to(#ff9a9e));
    background: -webkit-linear-gradient(left, #fad0c4 0%, #ff9a9e 100%);
    background: -o-linear-gradient(left, #fad0c4 0%, #ff9a9e 100%);
    background: linear-gradient(to right, #fad0c4 0%, #ff9a9e 100%); 
}
 
.bg-night-fade-gradient {
	background: #a18cd1;
  	background: -webkit-linear-gradient(legacy-direction(to right), #a18cd1 0%, #fbc2eb 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#a18cd1), to(#fbc2eb));
  	background: -webkit-linear-gradient(left, #a18cd1 0%, #fbc2eb 100%);
  	background: -o-linear-gradient(left, #a18cd1 0%, #fbc2eb 100%);
  	background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%);
  	border: 0px;
  	color : #fff;
}
.bg-night-fade-gradient:hover {
    background: #fbc2eb;
    background: -webkit-linear-gradient(legacy-direction(to right), #fbc2eb 0%, #a18cd1 100%);
    background: -webkit-gradient(linear, left top, right top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(left, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(left, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to right, #fbc2eb 0%, #a18cd1 100%); 
}
  
.bg-spring-warmth-gradient {
	background: #fad0c4;
  	background: -webkit-linear-gradient(legacy-direction(to right), #fad0c4 0%, #ffd1ff 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#fad0c4), to(#ffd1ff));
  	background: -webkit-linear-gradient(left, #fad0c4 0%, #ffd1ff 100%);
  	background: -o-linear-gradient(left, #fad0c4 0%, #ffd1ff 100%);
  	background: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
  	border: 0px;
  	color : #fff;
}
.bg-spring-warmth-gradient:hover {
    background: #ffd1ff;
    background: -webkit-linear-gradient(legacy-direction(to right), #ffd1ff 0%, #fad0c4 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ffd1ff), to(#fad0c4));
    background: -webkit-linear-gradient(left, #ffd1ff 0%, #fad0c4 100%);
    background: -o-linear-gradient(left, #ffd1ff 0%, #fad0c4 100%);
    background: linear-gradient(to right, #ffd1ff 0%, #fad0c4 100%); 
}

.bg-juicy-peach-gradient {
	background: #ffecd2;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffecd2 0%, #fcb69f 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f));
  	background: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
  	background: -o-linear-gradient(left, #ffecd2 0%, #fcb69f 100%);
  	background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  	border: 0px;
  	color : #fff;
}
.bg-juicy-peach-gradient:hover {
    background: #fcb69f;
    background: -webkit-linear-gradient(legacy-direction(to right), #fcb69f 0%, #ffecd2 100%);
    background: -webkit-gradient(linear, left top, right top, from(#fcb69f), to(#ffecd2));
    background: -webkit-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
    background: -o-linear-gradient(left, #fcb69f 0%, #ffecd2 100%);
    background: linear-gradient(to right, #fcb69f 0%, #ffecd2 100%); 
}

.bg-amy-crisp-gradient {
	background: #a6c0fe;
  	background: -webkit-linear-gradient(legacy-direction(to right), #a6c0fe 0%, #f68084 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#a6c0fe), to(#f68084));
  	background: -webkit-linear-gradient(left, #a6c0fe 0%, #f68084 100%);
  	background: -o-linear-gradient(left, #a6c0fe 0%, #f68084 100%);
  	background: linear-gradient(to right, #a6c0fe 0%, #f68084 100%);
  	border: 0px;
  	color : #fff;
}
.bg-amy-crisp-gradient:hover {
    background: #f68084;
    background: -webkit-linear-gradient(legacy-direction(to right), #f68084 0%, #a6c0fe 100%);
    background: -webkit-gradient(linear, left top, right top, from(#f68084), to(#a6c0fe));
    background: -webkit-linear-gradient(left, #f68084 0%, #a6c0fe 100%);
    background: -o-linear-gradient(left, #f68084 0%, #a6c0fe 100%);
    background: linear-gradient(to right, #f68084 0%, #a6c0fe 100%); 
}

.bg-mean-fruit-gradient {
	background: #fccb90;
  	background: -webkit-linear-gradient(legacy-direction(to right), #fccb90 0%, #d57eeb 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#fccb90), to(#d57eeb));
  	background: -webkit-linear-gradient(left, #fccb90 0%, #d57eeb 100%);
  	background: -o-linear-gradient(left, #fccb90 0%, #d57eeb 100%);
  	background: linear-gradient(to right, #fccb90 0%, #d57eeb 100%);
  	border: 0px;
  	color : #fff;
}
.bg-mean-fruit-gradient:hover {
    background: #d57eeb4;
    background: -webkit-linear-gradient(legacy-direction(to right), #d57eeb 0%, #fccb90 100%);
    background: -webkit-gradient(linear, left top, right top, from(#d57eeb), to(#fccb90));
    background: -webkit-linear-gradient(left, #d57eeb4 0%, #fccb90 100%);
    background: -o-linear-gradient(left, #d57eeb 0%, #fccb90 100%);
    background: linear-gradient(to right, #d57eeb 0%, #fccb90 100%); 
}
.bg-waves-gradient {
	background: #45cafc;
  	background: -webkit-linear-gradient(legacy-direction(to right), #45cafc 0%, #303f9f 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#45cafc), to(#303f9f));
  	background: -webkit-linear-gradient(left, #45cafc 0%, #303f9f 100%);
  	background: -o-linear-gradient(left, #45cafc 0%, #303f9f 100%);
  	background: linear-gradient(to right, #45cafc 0%, #303f9f 100%);
  	border: 0px;
}
.bg-waves-gradient:hover {
    background: #303f9f;
    background: -webkit-linear-gradient(legacy-direction(to right), #303f9f 0%, #30cfd0 100%);
    background: -webkit-gradient(linear, left top, right top, from(#303f9f), to(#30cfd0));
    background: -webkit-linear-gradient(left, #303f9f 0%, #30cfd0 100%);
    background: -o-linear-gradient(left, #303f9f 0%, #30cfd0 100%);
    background: linear-gradient(to right, #303f9f 0%, #30cfd0 100%); 
}

.bg-orange-gradiant {
	background: #ffd86f;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffd86f 0%, #fc6262 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#ffd86f), to(#fc6262));
  	background: -webkit-linear-gradient(left, #ffd86f 0%, #fc6262 100%);
  	background: -o-linear-gradient(left, #ffd86f 0%, #fc6262 100%);
  	background: linear-gradient(to right, #ffd86f 0%, #fc6262 100%);
  	border: 0px;
  	color : #fff;
}
.bg-orange-gradiant:hover {
    background: #fc6262;
    background: -webkit-linear-gradient(legacy-direction(to right), #fc6262 0%, #ffd86f 100%);
    background: -webkit-gradient(linear, left top, right top, from(#fc6262), to(#ffd86f));
    background: -webkit-linear-gradient(left, #fc6262 0%, #ffd86f 100%);
    background: -o-linear-gradient(left, #fc6262 0%, #ffd86f 100%);
    background: linear-gradient(to right, #fc6262 0%, #ffd86f 100%); 
}



.danger-gradiant-bg {
	background: #ff4d7e !important;
	background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%) !important;
	background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b)) !important;
	background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%) !important;
	background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%) !important;
	background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%) !important;
}

.success-gradiant-bg {
  background: #2cdd9b !important;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%) !important;
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc)) !important;
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%) !important;
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%) !important;
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%) !important;
}

.info-gradiant-bg {
  background: #188ef4 !important;
  background: -webkit-linear-gradient(legacy-direction(to right), #188ef4 0%, #316ce8 100%) !important;
  background: -webkit-gradient(linear, left top, right top, from(#188ef4), to(#316ce8)) !important;
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%) !important;
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%) !important;
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%) !important;
  border: 0px;
  color: #ffffff ; 
}

.warm-flame-gradiant-bg {
	background: #ff9a9e !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ff9a9e 0%, #fad0c4 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#ff9a9e), to(#fad0c4)) !important;
  	background: -webkit-linear-gradient(left, #ff9a9e 0%, #fad0c4 100%) !important;
  	background: -o-linear-gradient(left, #ff9a9e 0%, #fad0c4 100%) !important;
  	background: linear-gradient(to right, #ff9a9e 0%, #fad0c4 100%) !important;
  	border: 0px;
}

.night-fade-gradient-bg {
	background: #a18cd1 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #a18cd1 0%, #fbc2eb 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#a18cd1), to(#fbc2eb)) !important;
  	background: -webkit-linear-gradient(left, #a18cd1 0%, #fbc2eb 100%) !important;
  	background: -o-linear-gradient(left, #a18cd1 0%, #fbc2eb 100%) !important;
  	background: linear-gradient(to right, #a18cd1 0%, #fbc2eb 100%) !important;
}

.spring-warmth-gradient-bg {
	background: #fad0c4 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #fad0c4 0%, #ffd1ff 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#fad0c4), to(#ffd1ff)) !important;
  	background: -webkit-linear-gradient(left, #fad0c4 0%, #ffd1ff 100%) !important;
  	background: -o-linear-gradient(left, #fad0c4 0%, #ffd1ff 100%) !important;
  	background: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%) !important;
}

.juicy-peach-gradient-bg {
	background: #ffecd2 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffecd2 0%, #fcb69f 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#ffecd2), to(#fcb69f)) !important;
  	background: -webkit-linear-gradient(left, #ffecd2 0%, #fcb69f 100%) !important;
  	background: -o-linear-gradient(left, #ffecd2 0%, #fcb69f 100%) !important;
  	background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%) !important;
}

.amy-crisp-gradient-bg {
	background: #a6c0fe !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #a6c0fe 0%, #f68084 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#a6c0fe), to(#f68084)) !important;
  	background: -webkit-linear-gradient(left, #a6c0fe 0%, #f68084 100%) !important;
  	background: -o-linear-gradient(left, #a6c0fe 0%, #f68084 100%) !important;
  	background: linear-gradient(to right, #a6c0fe 0%, #f68084 100%) !important;
}

.mean-fruit-gradient-bg {
	background: #fccb90 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #fccb90 0%, #d57eeb 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#fccb90), to(#d57eeb)) !important;
  	background: -webkit-linear-gradient(left, #fccb90 0%, #d57eeb 100%) !important;
  	background: -o-linear-gradient(left, #fccb90 0%, #d57eeb 100%) !important;
  	background: linear-gradient(to right, #fccb90 0%, #d57eeb 100%) !important;
}

.bg-waves-gradient {
	background: #45cafc !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #45cafc 0%, #303f9f 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#45cafc), to(#303f9f)) !important;
  	background: -webkit-linear-gradient(left, #45cafc 0%, #303f9f 100%) !important;
  	background: -o-linear-gradient(left, #45cafc 0%, #303f9f 100%) !important;
  	background: linear-gradient(to right, #45cafc 0%, #303f9f 100%) !important;
}
.orange-gradiant-bg {
	background: #ffd86f !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffd86f 0%, #fc6262 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#ffd86f), to(#fc6262)) !important;
  	background: -webkit-linear-gradient(left, #ffd86f 0%, #fc6262 100%) !important;
  	background: -o-linear-gradient(left, #ffd86f 0%, #fc6262 100%) !important;
  	background: linear-gradient(to right, #ffd86f 0%, #fc6262 100%) !important;
  	border: 0px;
}
.grey-gradiant-bg {
	background: #bdc3c7 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #bdc3c7 0%, #2c3e50 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#bdc3c7), to(#2c3e50)) !important;
  	background: -webkit-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%) !important;
  	background: -o-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%) !important;
  	background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%) !important;
  	border: 0px;
}

.bg-grey-gradient {
	background: #bdc3c7;
  	background: -webkit-linear-gradient(legacy-direction(to right), #bdc3c7 0%, #2c3e50 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#bdc3c7), to(#2c3e50));
  	background: -webkit-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%);
  	background: -o-linear-gradient(left, #bdc3c7 0%, #2c3e50 100%);
  	background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
  	border: 0px;
  	color : #fff;
}
.bg-grey-gradient:hover {
    background: #2c3e50;
    background: -webkit-linear-gradient(legacy-direction(to right), #2c3e50 0%, #bdc3c7 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#bdc3c7));
    background: -webkit-linear-gradient(left, #2c3e50 0%, #bdc3c7 100%);
    background: -o-linear-gradient(left, #2c3e50 0%, #bdc3c7 100%);
    background: linear-gradient(to right, #2c3e50 0%, #bdc3c7 100%); 
}

.green-gradiant-bg {
	background: #02aab0 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #02aab0 0%, #00cdac 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#02aab0), to(#00cdac)) !important;
  	background: -webkit-linear-gradient(left, #02aab0 0%, #00cdac 100%) !important;
  	background: -o-linear-gradient(left, #02aab0 0%, #00cdac 100%) !important;
  	background: linear-gradient(to right, #02aab0 0%, #00cdac 100%) !important;
  	border: 0px;
}

.bg-green-gradient {
	background: #02aab0;
  	background: -webkit-linear-gradient(legacy-direction(to right), #02aab0 0%, #00cdac 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#02aab0), to(#00cdac));
  	background: -webkit-linear-gradient(left, #02aab0 0%, #00cdac 100%);
  	background: -o-linear-gradient(left, #02aab0 0%, #00cdac 100%);
  	background: linear-gradient(to right, #02aab0 0%, #00cdac 100%);
  	border: 0px;
  	color : #fff;
}
.bg-green-gradient:hover {
    background: #00cdac;
    background: -webkit-linear-gradient(legacy-direction(to right), #00cdac 0%, #02aab0 100%);
    background: -webkit-gradient(linear, left top, right top, from(#00cdac), to(#02aab0));
    background: -webkit-linear-gradient(left, #00cdac 0%, #02aab0 100%);
    background: -o-linear-gradient(left, #00cdac 0%, #02aab0 100%);
    background: linear-gradient(to right, #00cdac 0%, #02aab0 100%); 
}

.yellow-blue-gradiant-bg {
	background: #ffd89b !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffd89b 0%, #19547b 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#ffd89b), to(#19547b)) !important;
  	background: -webkit-linear-gradient(left, #ffd89b 0%, #19547b 100%) !important;
  	background: -o-linear-gradient(left, #ffd89b 0%, #19547b 100%) !important;
  	background: linear-gradient(to right, #ffd89b 0%, #19547b 100%) !important;
  	border: 0px;
}

.bg-yellow-blue-gradient {
	background: #ffd89b;
  	background: -webkit-linear-gradient(legacy-direction(to right), #ffd89b 0%, #19547b 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#ffd89b), to(#19547b));
  	background: -webkit-linear-gradient(left, #ffd89b 0%, #19547b 100%);
  	background: -o-linear-gradient(left, #ffd89b 0%, #19547b 100%);
  	background: linear-gradient(to right, #ffd89b 0%, #19547b 100%);
  	border: 0px;
  	color : #fff;
}
.bg-yellow-blue-gradient:hover {
    background: #19547b;
    background: -webkit-linear-gradient(legacy-direction(to right), #19547b 0%, #ffd89b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#19547b), to(#ffd89b));
    background: -webkit-linear-gradient(left, #19547b 0%, #ffd89b 100%);
    background: -o-linear-gradient(left, #19547b 0%, #ffd89b 100%);
    background: linear-gradient(to right, #19547b 0%, #ffd89b 100%); 
}


.green-blue-gradiant-bg {
	background: #43cea2 !important;
  	background: -webkit-linear-gradient(legacy-direction(to right), #43cea2 0%, #185a9d 100%) !important;
  	background: -webkit-gradient(linear, left top, right top, from(#43cea2), to(#185a9d)) !important;
  	background: -webkit-linear-gradient(left, #43cea2 0%, #185a9d 100%) !important;
  	background: -o-linear-gradient(left, #43cea2 0%, #185a9d 100%) !important;
  	background: linear-gradient(to right, #43cea2 0%, #185a9d 100%) !important;
  	border: 0px;
}

.bg-green-blue-gradient {
	background: #43cea2;
  	background: -webkit-linear-gradient(legacy-direction(to right), #43cea2 0%, #185a9d 100%);
  	background: -webkit-gradient(linear, left top, right top, from(#43cea2), to(#185a9d));
  	background: -webkit-linear-gradient(left, #43cea2 0%, #185a9d 100%);
  	background: -o-linear-gradient(left, #43cea2 0%, #185a9d 100%);
  	background: linear-gradient(to right, #43cea2 0%, #185a9d 100%);
  	border: 0px;
  	color : #fff;
}
.bg-green-blue-gradient:hover {
    background: #185a9d;
    background: -webkit-linear-gradient(legacy-direction(to right), #185a9d 0%, #43cea2 100%);
    background: -webkit-gradient(linear, left top, right top, from(#185a9d), to(#43cea2));
    background: -webkit-linear-gradient(left, #185a9d 0%, #43cea2 100%);
    background: -o-linear-gradient(left, #185a9d 0%, #43cea2 100%);
    background: linear-gradient(to right, #185a9d 0%, #43cea2 100%); 
}





