#header_five {
    /*******************
Header 13
*******************/

  .navbar-light {
      // Style only navbar-light which Odoo is only supposed to use in standard
      // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
      // Note: this only works because navbar-light is defined before navbar-dark,
      // we may want to use a safest way when possible.
      @if color('menu') == #F9F9F9 {
        background: #fff !important;
          
          @if (color-yiq(color('menu')) != $yiq-text-dark) {
              @extend .navbar-dark;
          }
      } @else {
        background: color('menu') !important;
      }
  }
  .font-medium{
    font-size:17px !important;
  }

.header13 .h13-nav {
  padding: 15px 15px; }
  .header13 .h13-nav .call-info {
    padding-left: 20px;
    border-left: 1px solid rgba(120, 130, 140, 0.13); }
  .header13 .h13-nav .navbar-nav .nav-item .nav-link {
    color: #8d97ad;
    padding: 10px 15px;
    display: block; }
  .header13 .h13-nav .navbar-nav .nav-item:hover .nav-link, .header13 .h13-nav .navbar-nav .nav-item.active .nav-link {
    border-top: 1px solid #ff4d7e;
        color: #ff4d7e; }
  .header13 .h13-nav .navbar-nav .nav-item:last-child {
    margin-left: 10px; }
.divider {
      display : none;
    }
.header13 .h13-topbar {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13); }
  .header13 .h13-topbar .navbar-brand {
    font-size: 14px;
    color: #188ef4;
    padding: 15px 0; }
  .header13 .h13-topbar .navbar {
    padding: 0; }
    .header13 .h13-topbar .navbar .search-box {
      padding: 15px;
      width: 240px; }
    .header13 .h13-topbar .navbar .nav-item .nav-link {
      color: #8d97ad;
      padding: 15px 20px; }
      .header13 .h13-topbar .navbar .nav-item .nav-link:first-child {
        padding-left: 0px; }
    .header13 .h13-topbar .navbar .nav-item:hover .nav-link {
      color: #ff4d7e; }
}

@media (max-width : 768px) {
  #header_five{
   .navbar-light.navbar-toggler {
    color:#000000;
    border-color:#000000;}
  .h13-topbar .navbar-nav{
      flex-direction: row;
      margin-left: auto;
        margin-right: auto;
        align-items: center!important;}
  .h13-topbar .ml-auto{ 
      font-size: 20px;
      margin-top: -10px;
  }
  }
  .contact{
    display:inline;
    .nav-link {
      color: #8d97ad;
      padding: 5px 0px !important;
    }
  }
}

@media (width : 320px) {
  .font-14 {
    font-size: 14px;
  }
}
