#header_nine {
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #fed700 !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	}
	.topbar-1 {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 20;
	    background: #ffffff;
	}
	.h14-topbar {
	    background: #f5f7fa;
	    
	    .navbar {
		    padding: 0;
		}
	    .navbar-brand {
		    font-size: 14px;
		    color: #263238;
		    font-weight: 500;
		    padding: 15px 0;
		}
		@media (min-width: 992px) {
			.hidden-lg-up {
			    display: none !important;
			}
		}
		
		.navbar .nav-item .nav-link {
		    color: #8d97ad;
		    padding: 15px;
		}
	}
	.h14-navbar {
	    
	    .navbar .navbar-nav .nav-item:hover .nav-link, .navbar .navbar-nav .nav-item.active .nav-link {
		    background: rgba(120, 130, 140, 0.13);
		    color: #263238;
		}
		.navbar .navbar-nav .nav-link {
		    padding: 18px 15px;
		    color: #263238;
		    font-weight: 400;
		    text-transform: uppercase;
		}
		.divider {
			display : none;
		}
	}
	
	.h14-info-bar {
	    padding: 15px 0px;
	    
	    .navbar-nav {
	    	 color: #8d97ad;
		}
	    .nav-item .nav-link {
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    padding: 0 25px;
		}
		.donate-btn a {
		    font-size: 13px;
		    font-weight: 500;
		    padding: 13px 25px;
		    margin-left: 15px;
		}
		.btn-outline-info {
		    color: #188ef4;
		    background-color: transparent;
		    border-color: #188ef4;
		    -webkit-transition: 0.2s ease-in;
		    -o-transition: 0.2s ease-in;
		    transition: 0.2s ease-in;
		}
		.btn-outline-info:hover {
			color: #fff;
		    background-color: #188ef4;
		}
	}
	@media (max-width: 709px){
		
	}
}

@media (max-width : 768px) {
	#header_nine{
		
	.navbar-collapse {
	    background: unset !important;
	}
   		.h14-topbar .navbar-nav{
			flex-direction: row;
			align-items: center!important;}
		.h14-topbar .ml-auto {
   			text-align: center;}
   		.h14-topbar .navbar .nav-item .nav-link {
   			padding:10px;}
   		.s_mega_menu_seven_snippet .one-fourth-column {
		    margin-right: 0px;
		}
	}
}