#header_four {
	
	.navbar { 
	
		padding-bottom:0px;
	}
	
  .topbar-1 {
      padding: 0px;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      width: 100%;
      z-index: 20;
      background: #ffffff;
  }
  .h16-topbar {
    .navbar-nav {
      color: #8d97ad;
      font-size : 1rem;
    }
  }
  small{
    border: 0;
    font-size: 100%;
  }
  .h16-topbar {
  border-bottom: 1px solid rgba(120, 130, 140, 0.13); }
  .h16-topbar .navbar-brand {
    font-size: 14px;
    color: #263238;
    font-weight: 500;
    padding: 15px 0; }
  .h16-topbar .navbar {
    padding: 0; }
    .h16-topbar .navbar .search-box {
      padding: 15px;
      width: 240px; }
    .h16-topbar .navbar .nav-item .nav-link {
      color: #8d97ad;
      padding: 15px; }
    .h16-topbar .navbar .nav-item:hover .nav-link {
      color: #ff4d7e; }
    .h16-topbar .navbar .search .dropdown-menu {
      padding: 20px;
      min-width: 300px; }

.h16-navbar {
   }
  .h16-navbar .navbar {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
    padding: 0px; }
    .h16-navbar .navbar .hidden-lg-up {
      padding: 17px;
      color: #ffffff;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase; }
    .h16-navbar .navbar .navbar-nav .nav-link {
      padding: 18px 18px;
      color: #ffffff;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: 5px; }
    .h16-navbar .navbar .navbar-nav .nav-item:hover .nav-link, .h16-navbar .navbar .navbar-nav .nav-item.active .nav-link {
      background: rgba(120, 130, 140, 0.13); }
    .h16-navbar .navbar .navbar-nav .search .nav-link {
      background: rgba(0, 0, 0, 0.05);
      color: #ffffff;
      padding: 18px 23px;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      margin-right: 0px; }
    .h16-navbar .navbar .navbar-nav .search:hover .nav-link {
      color: #ffffff;
      background: #3e4555; }
    .h16-navbar .navbar .navbar-nav .search .dropdown-menu {
      padding: 20px;
      min-width: 300px; }
    .h16-navbar .navbar .dropdown-menu {
      background: #ffffff;
      border-radius: 0 0 4px 4px;
      margin-top: 0px; }

.h16-info-bar {
  padding: 15px 0px; }
  .h16-info-bar .donate-btn a {
    font-size: 13px;
    font-weight: 500;
    padding: 13px 25px;
    margin-left: 15px; }
  .h16-info-bar .nav-item .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 25px; }

@media (max-width: 1023px) {
  .h16-topbar{
  margin-top:10px;}
  .h16-navbar {
    margin-bottom: 0px; }
  .h16-info-bar .donate-btn a {
    display: block;
    margin-left: 0px; }
  .h16-info-bar .nav-item .nav-link {
    padding: 0 10px;
    margin: 10px 0; }}
    
  .divider {
      display : none;
    }
  .h16-infobar {
    
    .navbar-nav {
      color: #8d97ad;
      font-size : 1rem;
    }
  }
  .navbar-light {
      // Style only navbar-light which Odoo is only supposed to use in standard
      // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
      // Note: this only works because navbar-light is defined before navbar-dark,
      // we may want to use a safest way when possible.
      @if color('menu') == #F9F9F9 {
        background: linear-gradient(to right, #343996 0%, #202647 100%) !important;
          color: white;
          @if (color-yiq(color('menu')) != $yiq-text-dark) {
              @extend .navbar-dark;
          }
      } @else {
        background: color('menu') !important;
      }
  }
  .h16-navbar {
    .divider {
      display : none;
    }
    .navbar-brand img {
      display:none;
    }
    .navbar {
        
        padding: 0px;
    }
    
  }
}

@media (max-width : 768px) {
  #header_four{
  	
  	.navbar-collapse {
	    background: unset !important;
	    z-index: 9;
	}	
  	
    li.nav-item {
        margin-right: 0px;
    }
    .h16-topbar .navbar-nav{
      flex-direction: row;
      margin-left: 10px;
      align-items: center!important;}
    .h16-topbar .ml-auto{ 
      font-size: 13px;}
    .h16-topbar .navbar .nav-item .nav-link {
      padding:10px;}
    .s_mega_menu_seven_snippet .one-fourth-column {
        margin-right: 0px;
    }
    #header16a{
      .ml-auto{
        display:inline;
      }
    }
  }
}
@media (width : 320px) {
  #header_four{
     .h16-topbar .navbar .nav-item .nav-link {
        padding: 6px;}
    }
}

.h-top-33 {
	margin-bottom: -55px;
}
