#header_two {
	.topbar-1 {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 20;
	    background: #ffffff;
	}
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #fff !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	}
	.h15-navbar {
		.navbar .navbar-nav .nav-item:hover .nav-link,  .navbar .navbar-nav .nav-item.active .nav-link {
		    color: #06a7fd;
		    border-bottom: 1px solid #06a7fd;
		}
		 .navbar .navbar-nav .nav-link {
		    padding: 18px 15px;
		    color: #263238;
		    font-weight: 400;
		    font-size: 14px;
		    border-bottom: 1px solid transparent;
		}
		.divider {
			display : none;
		}
	}
	
	.h15-infobar {
		
		.h15-info-bar {
		    padding: 15px 0px;
		}
		.nav-item .nav-link {
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    padding: 0 25px;
		}
		.navbar-nav {
			color: #b0b7c6;
		}
		
	}
	.h15-topbar {
		border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		
		.navbar {
		    padding: 0;
		}
		.navbar-nav {
			color: #b0b7c6;
			font-size: 1rem;
		}
		.navbar-brand {
		    font-size: 14px;
		    color: #263238;
		    font-weight: 500;
		    padding: 15px 0;
		}
		@media (min-width: 992px) {
			.hidden-lg-up {
			    display: none !important;
			}
		}
		.navbar-nav {
		    font-weight: 400;
		}
		.text-dark-1 {
		    color: #343a40;
		}
		.navbar .nav-item .nav-link:first-child {
		    padding-left: 8px;
		}
		.navbar .nav-item .nav-link {
		    color: #8d97ad;
		    padding: 15px 20px;
		}
		
	}
}

@media (max-width : 768px) {
	#header_two{
		li.nav-item {
		    margin-right: 0px;
		}
		.navbar-light{
			color:#000000;
			border-color: rgba(0, 0, 0, 0.1);}
		.h15-topbar .navbar-nav {
    		font-size: 15px !important;
    		flex-direction: row;
    		margin-top: 10px;
    		text-align: center;}
    	.h15-topbar .ml-auto{ 
    		align-items: center!important;
    		margin: auto;
    		justify-content: center;}
    	.h15-infobar .h15-info-bar {
   			 padding: 15px 5px 0px;}
   		.s_mega_menu_seven_snippet .one-fourth-column {
		    margin-right: 0px;
		}
	}
}