#header_seven {
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #fff !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	}
	.topbar-1{
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 20;
	    background: #ffffff;
	}
	.divider {
			display : none;
		}
	.h13-topbar {
	    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
	    
	    .navbar {
		    padding: 0;
		}
		.navbar-brand {
		    font-size: 14px;
		    color: #188ef4;
		    padding: 15px 0;
		}
		@media (min-width: 992px) {
			.hidden-lg-up {
			    display: none !important;
			}
		}
		.navbar-nav {
			font-weight: 400;
		}
		
		.navbar .nav-item .nav-link {
		    color: #8d97ad;
		    padding: 15px;
		}
		
	}
	.header7_navbar {
	    padding: 15px 0;
	    
	    
		.navbar-nav .nav-item .nav-link {
		    color: #8d97ad;
		    padding: 10px 15px;
		    display: block;
		}
		.navbar-nav .nav-item:hover .nav-link,.navbar-nav .nav-item.active .nav-link {
		    color: #ff4d7e;
		}
	}
}

@media (max-width : 768px) {
	#header_seven {
		.h13-topbar .navbar-nav{
			flex-direction: row;
			margin-left: 25px;}
		.navbar-light  {
    		color:#000000;
   			border-color: rgba(0, 0, 0, 0.1);}
   		.h13-topbar .navbar .nav-item .nav-link {
   			padding: 10px;}
   		.contact{
		    display:inline;
		    .nav-link {
		      color: #8d97ad;
		      padding: 5px 0px !important;
		    }
		  }
   	}
}