#header_six {
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #fff !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	   .navbar-nav .nav-link {
	   		padding: 15px;}
	}
	.topbar {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 20;
	    background: #ffffff;
	}
	.divider {
			display : none;
		}
	.header6_navbar {
	    padding: 0;
	    
	    .navbar-brand {
		    padding: 10px 0;
		}
		.h11-topbar ul {
		    margin-bottom: 0px;
		    padding: 15px 0;
		    font-size:1rem;
		}
		.h11-topbar ul li {
		    display: inline-block;
		    vertical-align: middle;
		}
		ul.list-inline li:first-child {
		    padding-left: 0px;
		}
		.h11-topbar ul li a {
		    padding: 0px 7px;
		    color: #8d97ad;
		    display: block;
		}
		.h11-topbar ul li:last-child a {
		    font-size: 21px;
		    font-weight: 600;
		    color: #263238;
		}
		.navbar-nav .nav-item {
		    margin: 0 20px;
		}
		.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item.active .nav-link {
		    color: #188ef4;
		    border-bottom: 1px solid #188ef4;
		}
		.navbar-nav .nav-item .nav-link {
		    padding: 12px 0px;
		    color: #8d97ad;
		    border-bottom: 1px solid transparent;
		    font-weight: 500;
		    text-transform: uppercase;
		}
		
	}
	.header6 .navbar-brand {
	  line-height: 80px; }

	.h6-nav-bar {
	  padding: 0px; }
	  .h6-nav-bar .navbar-nav .nav-link {
	    padding: 35px 15px;
	    color: rgba(255, 255, 255, 0.5); }
	  .h6-nav-bar .navbar-nav .nav-item:hover .nav-link, .h6-nav-bar .navbar-nav .nav-item.active .nav-link {
	    color: white; }
	  .h6-nav-bar .act-buttons .btn {
	    margin: 10px 0 10px 10px; }

	@media (max-width: 1023px) {
	  .h6-nav-bar .navbar-nav .nav-link {
	    padding: 15px 15px; }
	  .h6-nav-bar .act-buttons .btn {
	    margin: 10px 0 10px 0px; } }
		
}

@media (max-width : 768px) {
	#header_six {
		.h11-topbar{
			.navbar-expand-lg{
				font-size: unset !important;
				padding:0px !important;
			}
		}
		.h11-topbar .navbar-nav{
			flex-direction: row;
    		 align-items: center!important;
    		margin:auto;}
		.h11-topbar .navbar .nav-item .nav-link {
			padding:10px;	}
		.navbar-light.navbar-toggler {
			color:#000000;}
	}
}
@media (width : 320px) {
	#header_six .h11-topbar .navbar .nav-item .nav-link {
    	padding: 7px;}
}