#header_three {
	.topbar-1 {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 20;
	}
	.header3_navbar {
		.divider {
			display : none;
		}
		
		.nav-link {
			color: #8d97ad;
		}
		.nav-link:hover , .nav-link:focus {
			color : #fff;
		}
	}
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #263238 !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	    
	}
	.header12 {
	    
	    .h12-nav {
		    padding: 0px 0;
		}
		.h12-topbar {
		    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		}
	}
	.h12-topbar {
		.navbar {
		    padding: 0;
		}
		.navbar-brand {
		    font-size: 14px;
		    color: #ffffff;
		    padding: 15px 0;
		}
		@media (min-width: 992px) {
			.hidden-lg-up {
			    display: none !important;
			}
		}
		.navbar .nav-item .nav-link:first-child {
		    border-left: 1px solid rgba(120, 130, 140, 0.13);
		}
		.navbar .nav-item .nav-link {
		    color: #8d97ad;
		    padding: 15px 20px;
		    border-right: 1px solid rgba(120, 130, 140, 0.13);
		}
		
	}
	.divider {
			display : none;
		}
}

@media (max-width : 768px) {
	#header_three {
		.navbar-collapse {
		    background: transparent !important;
		    z-index: 9;
		}
		li.nav-item {
		    margin-right: 0px;
		}
		.navbar-light.navbar-toggler {
	    	color:#FFFFFF;
	   		border-color: #FFFFFF;}
	   	.h12-topbar .navbar-nav{
			flex-direction: row;
			font-size: 13px !important;
			align-items: center!important;
    		margin: auto;}
		.h12-topbar .navbar .nav-item .nav-link {
			padding:6px;
			border-right: none;}
		.h12-topbar .navbar .nav-item .nav-link:first-child {
			border-left:none;}
		.s_mega_menu_seven_snippet .one-fourth-column {
		    margin-right: 0px;
		}
	
	}
}

@media (width : 320px) {
	#header_three {
		.h12-topbar .navbar-nav {
			flex-direction: row;
    		font-size: 11px !important;
    		align-items: center !important;
    		margin: auto;}
    	.h12-topbar .ml-auto {
    		padding-left: 90px;
    		align-items: center !important;}
	}
}