#header_ten {
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #fff !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	}
	.topbar-1 {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    z-index: 99;
	    background: #ffffff;
	}
	.divider {
			display : none;
		}
	.h6-topbar {
	    background: #edb610;
	    
	    .authentication-box {
		    margin-bottom: 0px;
		    padding: 10px 0;
		    color: #263238;
		}
		.authentication-box a {
		    color: #263238;
		}
	}
	.header10_navbar {
		padding: 0px;
		
		.navbar-nav .nav-link {
		    padding: 35px 15px;
		    color: #8d97ad;
		}
		
		.navbar-nav .nav-item:hover .nav-link,.navbar-nav .nav-item.active .nav-link {
		    color: #263238;
		}
	}
}

@media (max-width : 768px) {
	.navbar-collapse {
		background: white !important;
	    z-index: 9;
	}
	#header_ten {
		
	.header10_navbar .navbar-nav .nav-link {
		    padding: 11px 15px !important;
		}
		
   		.navbar-light  {
   			color:#000000;}
   		}
   		.s_mega_menu_seven_snippet .one-fourth-column {
		    margin-right: 0px;
		}
}