#header_eight {
	z-index : 99;
	.navbar-light {
	    // Style only navbar-light which Odoo is only supposed to use in standard
	    // anyway. Automatically mimic navbar-dark if the user's menu color is dark.
	    // Note: this only works because navbar-light is defined before navbar-dark,
	    // we may want to use a safest way when possible.
	    @if color('menu') == #F9F9F9 {
	    	background: #3e4555 !important;
	        
	        @if (color-yiq(color('menu')) != $yiq-text-dark) {
	            @extend .navbar-dark;
	        }
	    } @else {
	    	background: color('menu') !important;
	    }
	}
	.topbar-1 {
	    padding: 0px;
	    -webkit-transition: 0.2s ease-in;
	    -o-transition: 0.2s ease-in;
	    transition: 0.2s ease-in;
	    width: 100%;
	    background: #ffffff;
	    z-index: 20;
	}
	.divider {
		display : none;
	}
	.header8 {
        max-height: 160px;
	}
	
	.h7-topbar {
	    padding: 15px 0;
	    color: #ffffff;
	    
	    .con-btn a {
		    padding: 5px 20px;
		    text-transform: uppercase;
		}
		
	}
	.h7-nav-bar {
	    background: #ffffff;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
	    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
	    
	    .logo-box {
		    padding: 20px;
		    -webkit-flex-shrink: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    width: 230px;
		    border-right: 1px solid rgba(120, 130, 140, 0.13);
		}
		.main-nav ul li a.active , .main-nav ul li a:hover {
			color : #316ce8;
			background-color: transparent;
			
		}
		@media (min-width: 768px) {
			.hidden-md-up {
			    display: none !important;
			}
		}
		.h7-nav-box {
		    display: block;
		    width: calc(100% - 230px);
		}
		.h7-mini-bar {
		    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		}
		.h7-mini-bar .gen-info span {
		    display: inline-block;
		    padding: 10px 10px;
		    font-weight: 400;
		}
		
		.main-nav ul {
		    margin: 0px;
		    padding: 0px;
		    font-size: 13px;
		    font-weight: 500;
		    text-transform: uppercase;
		}
		.main-nav  ul  li:first-child {
		    border-left: 0px;
		}
		.main-nav  ul  li {
		    text-align: center;
		    padding: 9px 14px;
		}
		.main-nav ul li a {
		    color: #8d97ad;
		}
		
		.h7-mini-bar .social-info {
		    padding-right: 10px;
		}
		.h7-mini-bar .social-info a {
		    display: inline-block;
		    padding: 18px 8px;
		    font-weight: 400;
	        font-size: 1rem;
		    color: #8d97ad;
		}
		.h7-mini-bar .gen-info span {
		    display: inline-block;
		    padding: 10px 10px;
		    font-weight: 400;
		}
		.gen-info {
			color: #8d97ad;
		}
	}
	@media (max-width: 1023px) {
		.h7-nav-bar .logo-box {
		    width: 170px;
		}
		.header8 {
	        max-height: 134px;
		}
	}
	@media (max-width: 767px) {
		
		#header_eight .h7-topbar .con-btn a {
		    padding: 2px 20px !important;
		}
		
		.h7-nav-bar {
		    display: block;
		}
		
		.h7-nav-bar .logo-box {
		    display: inline-block;
		    width: 160px;
		    padding: 10px;
		}
		.h7-nav-bar .h7-nav-box {
		    display: block;
		    width: 100%;
		}
		.h7-nav-bar .h7-nav-box .h7-mini-bar {
		    border-top: 1px solid rgba(120, 130, 140, 0.13);
		}
		.h7-nav-bar .h7-nav-box .h7-mini-bar {
		    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
		}
		.h7-nav-bar .h7-nav-box .main-nav {
		    max-height: 200px;
		    overflow: auto;
		}
		.h7-nav-bar .h7-nav-box .main-nav > ul {
		    display: block;
		}
		.h7-nav-bar .h7-nav-box .main-nav > ul > li {
		    display: block;
		    text-align: left;
		}
		.h7-nav-bar .op-clo {
		   	padding: 7px 11px;
		    float: right;
		    margin: 10px 20px 0 0;
		    color: #FFFFFF;
		}
		
	}
	.s_mega_menu_two_snippet .widget-custom-menu .widgettitle {
	    text-align: center;
	}
	.s_mega_menu_four_snippet .jen_tabs_conent_list h1 {
	    margin-left: 0px;
	    text-align: center;
	}
	.s_mega_menu_five_snippet .content h5 {
	    text-align: center;
	}
	.s_mega_menu_six_snippet {
		 .justify-content-center h5 {
		    padding:0px;
		}
		.justify-content-center .list li {
		    margin-bottom: 0;
		    text-align: left;
		}
	}
	.s_mega_menu_seven_snippet {
		.one-column {
		    margin-left: 17px;
		}
		.one-column a {
    		 line-height: 0px;
    		 display: contents;
    		 text-transform: none;
		}
		.one-fourth-column {
		    margin-right: 1px;
		}
		.one-column ul li p {
		    text-transform: none;
		}
	}
	.s_mega_menu_eight_snippet .main_menu h3 {
	    font-size: 21px;
	}
	.s_mega_menu_nine_snippet{
    	.widget-realesta-property-section .realesta-widgets.media {
			margin-bottom: 0px;    	
    	}
		.widget-realesta-property-section a {
		    line-height: 34px;
		}
		 .widget-realesta-property-section .media-body p {
		    line-height: 16px;
		    font-size: 13px;
		    text-transform: none;
		}
		.widget-realesta-property-section  .property-btn{
			padding: 7px;
			color: black;
		}
	}
	.s_mega_menu_ten_snippet{
		 .widgettitle {
			font-size: 16px;
		}
		inner ul li a {
		    line-height: 0px; 
		}
	}
}
