a {
	text-decoration: none !important;
}
.centric_template{
	background-image: url(/theme_centric/static/img/long-2.jpg);
    background-repeat: no-repeat;
    background-position: top center !important;
	h3{
		font-size:38px;
		font-weight:bold;
	}

	p{
		font-size: 15px;
	    line-height: 1.7;
	    color: $ptextcolor;
	}

	span{
		font-size: 14px;
	    font-weight: 500;
	    margin-bottom: 5px;
	}
}

.home-banner{
	 padding-bottom: 184px;
	.bannercol{
		height:26.2rem;
	}
	h1{
	    font-size: 4.4rem;
	    color: #202647;
	    font-weight: 600;
	    line-height: normal;
	    margin: 0 0 20px 0;
	}
	.banner-bg-text{
		font-size: 200px;
	    color: #f9f8fc;
	    font-weight: 900;
	    position: absolute;
	    right: 0;
	    left: 30%;
	    line-height: 1;
	    top: 6%;
	    z-index: -1;
	}
	.paratext{
		color: #6a6c72;
		font-size: 18px;
		font-weight : 500;
	}
	.banner-btn{
		margin-top:40px;
	}
	.bannerbtn{
	    padding: 13px 30px;
	    transition: 0.5s;
	    font-size: 14px;
	    font-weight: 500;
	}
	.bannerbtn:hover{
		color:theme-color('primary');
		background-color:white;
	}
	.watch-video{
	    font-size: 16px;
	    color: #131f58;
	    font-weight: 500;
	    margin-left: 25px;
	    transition: 0.5s;
    	
	}
	.watch-video:hover{
		color:$primarycolor;
		text-decoration: none;
	}
	.fa{
		color: $primarycolor;
	    margin-left: 8px;
	    top: 2px;
	}
	img{
			max-width: 100%;
    		height: auto;
		}
	.shape-img1{
		
		position: absolute;
	    left: 20px;
	    top: 1.5%;
	    z-index: -1;
	    width: 150px;
	}
	.shape-img2{

	    position: absolute;
	    left: 30%;
	    top: 2%;
	    z-index: -1;

	}
	.shape-img3{
		position: absolute;
	    z-index: -1;
	    top: 4.3%;
	    left: 90px;
	}
	.shape-img4{
	    position: absolute;
	    z-index: -1;
	    bottom: 0;
	    left: 0;
	    top:5.3%;
	}
	.shape-img5{
	    position: absolute;
	    z-index: -1;
	    left: 20%;
	    top:7.3%;
	}
	.shape-img6{
		position: absolute;
	    left: 0;
	    right: 0;
	    text-align: center;
	    margin: 0 auto;
	    z-index: -1;
	    top: 1.5%;
	}
	.shape-img7{
	    position: absolute;
	    left: 50%;
	    z-index: -1;
	    top: 5.5%;
	}
	.shape-img8{
		position: absolute;
	    right: 25%;
	    margin: 0 auto;
	    text-align: center;
	    z-index: -1;
	    top:6.8%;
	}
	.shape-img9{
	    position: absolute;
	    right: 8%;
	    top: 1%;
	    z-index: -1;
	}
	.shape-img10{
		position: absolute;
	    left: 5%;
	    z-index: -1;
	    top: 0.4%;
	}
	.shape-img11{
		position: absolute;
	    right: 0;
	    z-index: -1;
	    top: 5.5%
	}

	@media(max-width: 767px){
		.bannarcol{
			h1{
				font-size: 35px;
    			margin: 0 0 10px 0;
			}
			.banner-btn{
				.bannerbtn{
					padding: 8px 20px;
    				font-size: 14px;
				}
				.watch-video{
					margin-left: 14px;
				}
				margin-top: 25px;
			}
			text-align:center;
		}
		.banner_image{
			img{
				position:unset;
			}
		}
		.bannerbgimages{
			display:none;
		}

	}
   
}

@media(max-width: 767px){
	.home-banner{
		padding-top: 30px !important;
	}
}
.o_affix_enabled{
	nav.navbar.navbar-expand-md.navbar-light.bg-light {
	    background-color: transparent !important;
	    height: 82px;
	}
	header.o_no_autohide_menu.o_header_affix.affix.affixed {
	    background: #ffffff;
	    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	}
	li.nav-item {
	        margin-right: 15px;
	}
	ul#top_menu {
	    margin-right: auto !important;
	    margin-left: auto !important;
	}
	a.nav-link {
	    color: #131f58 !important;
	    font-size: 17px;
	    font-weight:600;
	    transition:0.5s;
	}
	a.nav-link:hover{
		color: $primarycolor !important;
	}
	.navbar-brand.logo img {
	    height: 3.3125rem !important;
	}
	.nav-item.divider {
		display: none !important;
	}
}
.o_header_affix{
	nav.navbar.navbar-expand-md.navbar-light.bg-light {
	    background-color: transparent !important;
	    height: 82px;
	}
	header.o_no_autohide_menu.o_header_affix.affix.affixed {
	    background: #ffffff;
	    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
	}
	li.nav-item {
	       margin-right: 15px;
	}
	ul#top_menu {
	    margin-right: auto !important;
	    margin-left: auto !important;
	}
	a.nav-link {
	    color: #131f58 !important;
	    font-size: 17px;
	    font-weight:600;
	    transition:0.5s;
	}
	a.nav-link:hover{
		color: $primarycolor !important;
	}
	.navbar-brand.logo img {
	    height: 3.3125rem !important;
	}
	.nav-item.divider {
		display: none !important;
	}
}

.card {
  border: 0px;
  margin-bottom: 30px; 
  h5 {
  	font-weight: 600;
  }
}
  .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1); 
    
    }

.card-group .card {
  border: 1px solid rgba(120, 130, 140, 0.13);
  margin-bottom: 30px; }
