.project-section{

	h3{
	    margin: 0;
	    padding-bottom: 20px;
	}
	img{
		max-width:100%;
		height:auto;
	}
	.project-box:hover{
	    transform: translateY(-5px);
	    background-color: #ffffff;
	    transition:0.5s;
	}
	.project-box{
		a{
			transition: 0.5s;
		    outline: 0 !important;
		    color: #202647;
		}
		a:hover{
			text-decoration:none;
			color: $primarycolor;
		}
		margin-bottom:30px;
	}
	.project-box-hover h3{
		font-size: 18px !important;
    	font-weight: 700 !important;
	}

	.project-box:hover .project-box-hover{
		background-color: #ffffff;
	    opacity: 1;
	    visibility: visible;
	    bottom: 0;
	}
	.project-title{
		margin-bottom:50px;
	}
	
	.project-box-hover{
	    position: absolute;
	    bottom: -20px;
	    left: 0;
	    right: 0;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	    padding: 25px 50px;
	    background-color: #fafafa;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 2;
	}
	
	@media (max-width: 767px){
		.project-title{
		    margin-bottom: 40px;
		}
		span{
		    font-size: 13px;
		}
		h3{
			font-size: 22px;
    		margin: 8px 0 0 0;
		}
	}

}