.services-section{
	.service-title{
		margin-bottom:50px;
	}
	
	h3{
	    margin: 0;
	    padding-bottom: 20px;
	}
	.service-box{
		a{
		    transition: 0.5s;
			outline: 0 !important;
    		color: $primarytextcolor;
		}

		a:hover{
			text-decoration:underline;
			color: white;
		}
		transition: 0.5s;
		position: relative;
    	background: white;
    	border-radius: 2px;
    	text-align: center;
    	padding: 30px 20px;
    	margin-bottom: 30px;
	}
	.service-box h3{
		font-size:20px;
		padding:0;
		margin-bottom:10px;
	}

	.service-box p{
	    font-size: 15px;
    	line-height: 1.7;
    	color: #6a6c72;
    	margin-bottom:0;
	}
	.service-box:hover{
		p{
			color:white;
		}
		h3{
			a{
				color: white !important;
			}
			color: white;
		}
		.icon1{
			color: theme-color('primary');
			background-color: white;
		}
		.icon2{
			color: theme-color('primary');
			background-color: white;
		}
		.icon3{
			color: theme-color('primary');
			background-color: white;
		}
		.icon4{
			color: theme-color('primary');
			background-color: white;
		}
		.icon5{
			color: theme-color('primary');
			background-color: white;
		}
		.icon6{
			color: theme-color('primary');
			background-color: white;
		}
		transform: translateY(-10px);
		background-color: theme-color('primary') !important;
		color:white;
	}
	.service-icon{
		text-align: -webkit-center;
		

	}
	.icon1{
		color: #fa9979;
		background-color:#faddd4;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	}
	.icon2{
		color: #23b396;
		background-color:#cafbf1;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	}
	.icon3{
		background-color:#ddd5fb;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	    color: #8973d9;
	}
	.icon4{
		background-color:#fcdeee;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	    color: #ef52a6;
	}
	.icon5{
		background-color:#c5ebf9;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	    color: #37acd7;
	}
	.icon6{
		background-color:#f8fbd5;
		text-align: center;
	    width: 65px;
	    height: 65px;
	    border-radius: 50%;
	    margin-bottom: 20px;
	    color: #eddf39;
	}
	.fa{
		font-size:30px;
		padding-top:15px;
	}

	@media (max-width: 767px){
		.service-title{
		    margin-bottom: 40px;
		}
		span{
		    font-size: 13px;
		}
		h3{
			font-size: 22px;
    		margin: 8px 0 0 0;
		}
	}
	background-color: #f6f5fb;
}