.about{

	.cardimg{
		font-size:50px;
		color:theme-color('primary');
	}

	.red_card{
		border-radius:6px;
		box-shadow:0 25px 70px rgba(0, 0, 0, 0.07);
	}

	.red_card:hover{
		.fa{
			color:white;
		}
		h3{
			color:white;
		}
		p{
			color:white;
		}
		background-color: theme-color('primary');
		transition:0.5s;
	}

	.extra-p{
		font-size:30px;
		font-style: italic;
	}

	.btn-txt1{
		font-size:14px;
	}
	.feature-item1{
		transition: 0.5s;
		background-color:#f1eff8;
		border:1px dotted white;
		padding: 40px 30px;
		border-radius:5px;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);
	}
	.feature-item1:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.icon{
		text-align: -webkit-center;
	}
	.dotted-img{
		
    	height: 65px;
    	width: 65px;
    	color: #5d43bc;
    	border: 2px dotted #5d43bc;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.feature-item2{
		background-color:#fbe6d4;
		border:1px dotted white;
		padding: 40px 30px;
		border-radius:5px;
		transition: 0.5s;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);

	}
	
	.feature-item2:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}
	.feature-item3{
		background-color:#f0fffc;
		border:1px dotted white;
		padding: 40px 30px;
		border-radius:5px;
		transition: 0.5s;
		box-shadow: 0 0 30px rgba(56, 46, 46, 0.1);

	}
	.feature-item3:hover{
		background-color:white !important;
		border-color: theme-color('primary');
	}

	.dotted-img2{
		
    	height: 65px;
    	width: 65px;
    	color: #f1760c;
    	border: 2px dotted #f1760c;
    	line-height: 65px;
    	border-radius: 50px;
	}
	.dotted-img3{
		
    	height: 65px;
    	width: 65px;
    	color: #19b192;
    	border: 2px dotted #19b192;
    	line-height: 65px;
    	border-radius: 50px;
	}

	#feat{
		color: theme-color('beta');
		font-size:18px;
		font-weight:600;
		margin: 20px 0 10px 0;
	}
	.fa{
		font-size:30px;
		padding-top: 15px;
	}
	@media (max-width: 767px){
		.feature-item1 {
		    margin-bottom: 25px;
		}
		.feature-item2 {
		    margin-bottom: 25px;
		}
	}

	
}

.noncard:hover{
	color: none;
	text-decoration: none;
}


.aboute_bgimg{
	background-image: url('/theme_avn/static/src/img/bg-76.svg');
	background-repeat:no-repeat;
	background-position: -90% 80%;
}

.theme-soft-how-it-work-bg{
	background-color: #f6f5fb;
}
