.pricing_bgimg{
		background-image: url('/theme_avn/static/src/img/bg-79.svg');
		background-repeat:no-repeat;
		background-position: center top;
	}

.card-body{
	background-color: unset !important;
    color: unset !important;
}

.pricing{
	h4{
		padding: 5px 30px;
		background-color: theme-color('primary');
	    border-radius: 0 0 50em 50em;
	    letter-spacing: 0.25em !important;
	    font-size:16px;
	    line-height: 1.5em;
	    font-weight: 700;
	    font-family: sans-serif;
	}

	.price-center{
		background-color : white;
	}
	h2{
		font-size:56px;
	}

	.p{
		font-size: 0.3571428571em;
    	font-weight: 400;
	}

	.pricing_shadow1{
		box-shadow: 0 40px 125px rgba(0, 0, 0, 0.07);
		position: inherit;
	}

	.pricing_shadow2{
		box-shadow: 0 40px 125px rgba(0, 0, 0, 0.07);
		position: relative;
	}

	p{
		font-size:14px;
		line-height: 1.5em;
    	text-transform: uppercase;
    	letter-spacing: 0.05em;
	}

	.pricing_bgimg{
		background-image: url('/theme_avn/static/src/img/bg-79.svg');
		background-repeat:no-repeat;
		background-position: -408px 91px;
	}

	.dlr{
		top: -1.25em;
    	margin-right: 0.2em;
    	font-size: 0.3571428571em !important;
    	font-weight: 400;
	}

	.zoom-efect:hover{
		transform: translateY(-3px);
	    box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
	    transition: all 0.1s
	}

	

	.btn-txt2:hover{
		transform: translateY(-3px);
	    box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
	    transition: all 0.1s
	}
}