.home{


	h6{
		font-size:18px !important;	
	}

	

	.btn-txt2:hover{
		color:theme-color('primary');
		text-decoration: none;
	}

	.icon_size{
		color:theme-color('primary');
		font-size:30px;
		position: relative;
	    top: 5px;
	}
	.icon_size:hover{
		text-decoration: none;
	}
}


.home_bgimg{
	background-image: url('/theme_avn/static/src/img/bg-75.svg');
	background-repeat:no-repeat;
	background-position: 184% 103%;
}
