
.work{
    
    .work_img{
        position:relative ;
        margin-top:55%;
        width:75%;
        left: 14%;
    }

    .work_img1{
        position:absolute;
    }

    .work_my:hover{
        .work_img{
            transform: translateY(-80px);
            transition: all 0.5s;
        }
    }


    @media (max-width: 767px){
        .col-lg-4.col-md-6.col-sm-12.pt-5 {
            margin-right: 15px;
        }
    }


}
