.services{

	.cardimg{
		font-size:45px;
		color:theme-color('primary');
	}

	.red_card{
		border-radius:6px;
		box-shadow:0 25px 70px rgba(0, 0, 0.1, 0.1);
		background-color: #f1eff8;
	}

	


	.service:hover{
		p,h3{
			color: #f1eff8;
			transition: 0.5s;
		}
		.fa{
			color: #f1eff8;
		}


		background-color:theme-color('primary') !important;
	}

	.card-p{
		p{
			font-size:16px;
			line-height: 1.65em !important;
		}
	}

	@media screen and (min-width:992px){

		.top-set{
			top: -19px;
		}
	}
}





