		
.theme-soft{
	h6{
		font-size:16px;
	}

	h1{
		font-size:60px;
	    font-weight: 700;
	    margin-top:0 !important;
	}

	p{
		font-size:18px;
	}

	h3{
		font-size:24px;
	}

	h5{
		font-size:18px;
	}

	.pb-50{
		padding-bottom:50px;
	}

	.pt-50{
		padding-top:50px;
	}
}