.testimonial-section{
	
	h3{
		
	    margin: 10px 0 25px 0;
	    padding-bottom: 20px;
	}
	
	img{
		display: inline-block;
	    width: 125px;
	    height: auto;
	    border-radius: 100px;
	}
	
	li{
	    margin: 0 5px;
	    background-color: #dfdfdf;
	    transition: .6s;
	}
	li:hover{
		background-color: theme-color('primary') !important;
		opacity:1;
	}

	li.active{
		background-color: theme-color('primary');
	}
	ol.carousel-indicators {
    position: unset;
	}
	.testimonial-single-item{
		text-align: center;
	    background-color: #f6f5fb;
	    padding: 30px 20px;
	    position: relative;
	    margin-top: 78px;
	    border-radius: 10px;
	}

	.testimonial-single-item::before {
	    position: absolute;
	    content: "";
	    height: 130px;
	    width: 130px;
	    line-height: 130px;
	    background-color: theme-color('primary');
	    border-radius: 100px;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: -76px;
	}

	.testimonial-image {
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: -70px;
	}

	.s_carousel h3{
	    font-size: 20px;
	    color: $primarytextcolor;
	    font-weight: 500;
	    margin: 40px 0 6px 0;
        padding: 0;
	}

	.s_carousel span{
	    font-size: 13px;
	    color: #6a6c72;
	}

	.s_carousel{
		.icon{
			margin-top: 8px;
    		margin-bottom: 8px;
		}
	}

	.s_carousel .fa{
	    color: #848281;
    	font-size: 20px;
	}

	ol.carousel-indicators {
    	margin-top: 1rem;
	}

	@media (max-width: 767px){
		.carousel-content{
			margin-bottom: 20px;
    	}
    	span{
    		font-size: 13px;
    	}
    	h3{
		    font-size: 22px;
    		margin: 10px 0 20px 0;
    	}
    }

	
}