$primarycolor: #343996 !default;
$primarytextcolor: #202647 !default;
$primarygamma: #ffaa01 !default;
$ptextcolor: #6a6c72 !default;
$feature: #ff4272 !default;


$o-theme-color-palettes: (
    (
        'alpha': $primarycolor,
        'beta': $primarytextcolor,
        'gamma': $primarygamma,
        'delta': #000000,
        'epsilon': $feature,
        'feature':$feature,
    ),
);