.whychooseus-section{
	img{
		max-width:100%;
		height:auto;
	}
	
	h3{
		
	    margin: 0 0 25px;
	    padding-bottom: 20px;
	    max-width: 600px;
	}
	
	.fa{
	    position: absolute;
	    display: inline-block;
	    height: 30px;
	    width: 30px;
	    line-height: 30px;
	    background-color: #f1f1f1;
	    text-align: center;
	    color: theme-color('primary');
	    border-radius: 50px;
	    top: 2px;
	    left: 0;
	    -webkit-transition: 0.5s;
	    transition: 0.5s;
	}

	.choose:hover .fa{
	    background-color: theme-color('primary');
    	color: white;
	}
	.choose{
		h4{
			font-size:18px;
			font-weight:500;
			color: $primarytextcolor;
		}
		p{
			font-size:15px;
			color: #6a6c72;
			line-height: 1.7;
		}
		padding-left:45px;
		margin-top:20px;
		position:relative;
	}
	.choose-btn{
		margin-top:40px;
	}
	.whychoosebtn{
	    padding: 13px 30px;
	    border: 1px solid theme-color('primary');
	    transition: 0.5s;
	    font-size: 14px;
	    font-weight: 500;
	    line-height:1;
	}
	.whychoosebtn:hover{
		border-color: theme-color('primary');
		color: theme-color('primary');
		background-color:white ;
	}


	@media (max-width: 767px){
		span{
		    font-size: 13px;
		}
		h3{
			font-size: 22px;
    		margin: 8px 0 0 0;
		}
		.choose-btn{
			a{
				padding: 8px 20px;
    			font-size: 14px;
			}
		    margin-top: 25px;
			margin-bottom: 30px;
		}
	}
}