<?xml version="1.0" encoding="utf-8" ?>

<odoo>
    <menuitem
            id="ofd_menu_freight"
            name="OFD Type"
            parent="scs_freight.main_menu_freight_config"
            action="ofd_packages_action"
    />
     <menuitem
            id="ofd_menu_sale"
            name="OFD Type"
            parent="sale.menu_sale_config"
            action="ofd_packages_action"
            sequence="8"
    />

</odoo>