.chatter_visisbilty{

  min-width: 682px;
  /*min-width: 100%;*/
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 15px;
  /*padding-bottom: 10px;*/
  font-size: small;
}

.o_chatter{
  max-width: 1172px;
  margin: 0 auto;
  padding-left: 15px;

}

.form-check{
  margin-right: 31px;
}
.form-check-label{
  padding-left: 5px;
}
.form-check-input{
  margin-top: 0px;
}
.div_hide{
  color: #b9aab7;
}
.div_hide:hover{
  color: #b9aab7;
  cursor: not-allowed !important;
}
